<%- include('header') %>

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/projects.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <div class="bt-option">
                            <a href="/home">Home</a>
                            <a href="#" style="color: orangered;">Projects</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

   
    <div class="image-area">
        <div class="img-wrapper">
            <img src="https://images.pexels.com/photos/1220757/pexels-photo-1220757.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Atul Prajapati">
            <h2>David james</h2>
            <ul>
                <li><a href="https://github.com/atuljustano"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.instagram.com/atulkprajapati2000/"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://twitter.com/atuljustano"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCf-KfxuY8PZBSD_8RW2nYsw"><i class="fab fa-youtube"></i></a></li>
            </ul>
        </div>
    </div>




<%- include('footer') %>