<%- include('header') %>

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/achievement/cover.jpeg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2 style="text-shadow: 0.5px 1.5px 1.5px #000000;" class="wow bounceInUp"><strong style="color: orangered;">Team Pratyunmis</strong></h2>
                        <div class="bt-option">
                            <a href="/home">Home</a>
                            <a href="/achievement" style="color: orangered;">Achievements</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Class Details Section Begin -->
    <section class="class-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="class-details-text" id="gtr">
                        <div class="cd-text">
                            <div class="cd-single-item">
                                <h3>Team Pratyunmis : <strong style="color:orangered;">ROBOCON</strong></h3>
                                <p>BIT MESRA has been witnessing remarkable enthusiasm of its students for participation in various technical events across the country. Taking a step ahead, a group of promising engineers has ventured into an all new arena of ABU ROBOCON. 25 members of Team Robolution are selected for Team Pratyunmis who represent BIT Mesra at ABU Asia Pacific Robot Contest. 
                                    The team bears the name Pratyunmis, a word of Sanskrit origin meaning `to rise or shine forth`.
                                    We at Pratyunmis are subdivided into many small teams –mechanical team,drives team,electronics team,simulation team etc.Each team strives hard to come up with the best solution for the problem statement and the amalgamation of the best ideas from the different subteams is what we implement in our final bot and present it on the D-DAY of ROBOCON. The global exposure and standard garnered by the ROBOCON event over the years has made it a compelling prospect to look out for. The participation at such a level has resulted into flaming the spark of achieving something better and bigger in each of the members of the team, encouraging them to find efficient techniques, models and algorithms and even discovering new ones as and when required. It has also kindled a sense of team work and responsibility towards respecting time and resources which are essential to an appropriate professional life and even as a person.Our hardwork paid off well when we achieved the 9th rank in the ABU ROBOCON CONTEST(2015) but we are looking forward to improve and do even better in the upcoming years. </p>
                            </div>
                        </div>
                    </div>
                <br><br><br>
                <div class="class-details-text" id="ml">
                        <div class="cd-text">
                            <div class="cd-single-item">
                                <h4 style="color: white;">Robocon 2020: The ROBO Rugby</h3>
                            </div>
                        </div>
                        <div class="cd-trainer">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="cd-trainer-pic">
                                        <img src="img/achievement/robocon-20.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="cd-trainer-text">
                                        <div class="trainer-title">
                                            <h4 style="color:orangered;">Achievement</h4>
                                        <ul class="trainer-info wow bounceInLeft">
                                            <li><span>Scored 94.5/100 in the first round of robocon . Ranked among top 20 teams among 120 teams participating from all over india . </span></li>
                                            <li><span>Scored 39.5/40 in the CAD round of robocon.</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
                <div class="class-details-text" id="ml">
                        <div class="cd-text">
                            <div class="cd-single-item">
                                <h4 style="color: white;">Robocon 2018: The Shuttlecock Throwing Robot</h3>
                            </div>
                        </div>
                        <div class="cd-trainer">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="cd-trainer-pic">
                                        <img src="img/achievement/robocon-18.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="cd-trainer-text">
                                        <div class="trainer-title">
                                            <h4 style="color:orangered;">Achievement</h4>
                                        <ul class="trainer-info wow bounceInLeft">
                                            <li><span>Successfully achieved the challenge of creating a manual robot and an automatic robot for throwing the shuttlecock through the rings. </span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
                <div class="class-details-text" id="ml">
                        <div class="cd-text">
                            <div class="cd-single-item">
                                <h4 style="color: white;">Robocon 2017: The Landing Disc</h4>
                            </div>
                        </div>
                        <div class="cd-trainer">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="cd-trainer-pic">
                                        <img src="img/achievement/robocon-17.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="cd-trainer-text">
                                        <div class="trainer-title">
                                            <h4 style="color:orangered;">Achievement</h4>
                                        <ul class="trainer-info wow bounceInLeft">
                                            <li><span>Only team to use image processing to detect the frisbee and then use AI to make alterations to control provided to frisbee to land it on a given pole </span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
                <div class="class-details-text" id="ml">
                        <div class="cd-text">
                            <div class="cd-single-item">
                                <h4 style="color: white;">Robocon 2016: Clean Energy Recharging The World</h3>
                            </div>
                        </div>
                        <div class="cd-trainer">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="cd-trainer-pic">
                                        <img src="img/achievement/robocon-16.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="cd-trainer-text">
                                        <div class="trainer-title">
                                            <h4 style="color:orangered;">Achievement</h4>
                                        <ul class="trainer-info wow bounceInLeft">
                                            <li><span>Ranked 26th out of 105 teams. </span></li>
                                            <li><span>Only team to implement pole climbing with huge payload(30 Kgs) using pnuematics</span></li>
                                            <li><span>Remained unbeaten in the competetion.</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
                <div class="class-details-text" id="ml">
                        <div class="cd-text">
                            <div class="cd-single-item">
                                <h4 style="color: white;">Robocon 2015: Badminton Playing Robot</h4>
                            </div>
                        </div>
                        <div class="cd-trainer">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="cd-trainer-pic">
                                        <img src="img/achievement/robocon-15.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="cd-trainer-text">
                                        <div class="trainer-title">
                                            <h4 style="color:orangered;">Achievement</h4>
                                        <ul class="trainer-info wow bounceInLeft">
                                            <li><span>Ranked 9 out of 90 teams. Awarded for being The Best Non-Quarter Finalist.</span></li>
                                            <li><span>Awarded by Mathworks as Team with the best usage of Mathworks Tools</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
                <div class="class-details-text" id="dip">
                        <div class="cd-text">
                            <div class="cd-single-item">
                                <h4 style="color: white;">Robocon 2014</h4>
                            </div>
                        </div>
                        <div class="cd-trainer">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="cd-trainer-pic">
                                        <img src="img/achievement/robocon-14.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="cd-trainer-text">
                                        <div class="trainer-title">
                                            <h4 style="color:orangered;">Achievement</h4>
                                        <ul class="trainer-info wow bounceInLeft">
                                            <li><span>Ranked 36 out of 90 teams and were undefeated.</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
                <div class="class-details-text" id ="es">
                        <div class="cd-text">
                            <div class="Embedded Workshop">
                                <h4 style="color: white;">Robocon 2013</h4>
                            </div>
                        </div>
                        <div class="cd-trainer">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="cd-trainer-pic">
                                        <img src="img/achievement/robocon-13.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="cd-trainer-text">
                                        <div class="trainer-title">
                                            <h4 style="color:orangered;">Achievement</h4>
                                        <ul class="trainer-info wow bounceInLeft">
                                            <li><span>Third Best Rookie Team.</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>       
            </div>
        </div>
        </div>
    </section>
    <!-- Class Details Section End -->

    <section class="class-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                <br><br><br>
                <div class="class-details-text" id ="hackathon">
                        <div class="cd-text">
                            <div class="Embedded Workshop">
                                <h2 style="color: orangered;">Hackathons</h2>
                            </div>
                        </div>
                        <div class="cd-trainer">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="cd-trainer-text">
                                        <div class="trainer-title">
                                        <ul class="trainer-info wow bounceInLeft">
                                            <li><p>Secured 2nd position in Smart India Hackathon in Hardware edition providing solution to an efficient parcel sorting mechanism.</p></li>
                                                <li><p>Secured 2nd position in Siemens Hackathon providing solution to smart glasses for visionless people.</p></li>
                                                <li><p>Secured 7th position in HackJaipur with over 500 teams participating by providing solution for surveillance after COVID.</p></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>              
            </div>
        </div>
        </div>
    </section>
    <!-- Class Details Section End -->
    <section class="class-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                <br><br><br>
                <div class="class-details-text" id ="hackathon">
                        <div class="cd-text">
                            <div class="Embedded Workshop">
                                <h2 style="color: orangered;">Robotics Competitons</h2>
                            </div>
                        </div>
                        <div class="cd-trainer">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="cd-trainer-text">
                                        <div class="trainer-title">
                                        <ul class="trainer-info wow bounceInLeft">
                                            <li><p>Secured 7th position out of 3500 teams in e-yantra robotics competition organised by IIT Bombay on agriculture theme.</p></li>
                                                <li><p>Qualified to zonals round in DRUSE organised by DRDO providing efficient solution to automation of mine detection and clearance.</p></li>
                                                <li><p>Qualified to semi-final round in Texas Instruments innovation challenge.</p></li>
                                                <li><p>Won first prize in Droid Blitz Kshitij 19 with over 100 teams participating .</p></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>              
            </div>
        </div>
        </div>
    </section>
    <!-- Class Details Section End -->


<%- include('footer') %>