<%- include('header') %>
    <div id="particles-js"><canvas class="particles-js-canvas-el" width="452" height="608" style="width: 100%; height: 100%;"></canvas></div>
    <script src="js/particles.js"></script>
    <script src="js/app.js"></script>

<section class="class-details-section spad">
<section class="experience" style="opacity:1">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-5 col-sm-5">
				<div class="hero-img">
					<div class="picture-hero ">
						<img class="img-fluid" src="../public/img/k17/team-8.jpg">
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-5 col-sm-5">
				<div class="heading-exp">
					<h2 class="name">N. Anirudh Raju</h2>
					<i><h2 class="company">Company: Hero Motocorp</h2></i>
					<h2 class=" branch">Branch: Production Engineering (2021)</h2>
					<h2 class="profile-0">Profile Offered:Core Profile</h2>
					<div class="social-links">
						<h2 class="profile-0">LinkedIn: <a href="https://www.linkedin.com/in/n-anirudh-raju-34a9671a7/"><i class="fa fa-linkedin-square " aria-hidden="true"></i></a></h2>
                       
					</div>
					
				</div>
			</div>
			
		</div>
	</div>
	<div class="hero-text-container">
		<div class="qna-section">
			<div class="question">Question 1: Tell us something about yourself.(include your placed co.)</div>

			<div class="answer">Answer: I am N. Anirudh Raju pursuing production engineering. I am placed in Hero Motocorp and currently interning with Dr. Reddy's laboratories and both are core profiles.</div>
		</div>

		<div class="qna-section">
			<div class="question">Question 2: How to prepare for the companies of that sector?</div>

			<div class="answer">Answer: Core companies can be cracked easily. You just have to build a good resume depicting your experiences in the field and having strong core knowledge. Other than that I would suggest participating in competitions organised by companies having a PPO or PPI reward. This might be very helpful.
			</div>
		</div>

		<div class="qna-section">
			<div class="question">Question 3: Describe the selection procedure of that company.</div>

				<div class="answer">Answer:  DRL's procedure was quite easy with just an online test and PI.
				Hero Motocorp was an offcampus opportunity availing my PPI.
			</div>
		</div>

		<div class="qna-section">
			<div class="question">Question  4:Now coming to the most dreaded part of every recruitment process, describe your interview(s)(include projects)</div>

			<div class="answer">Answer: 
			<ul style="margin-left:20px">
			<li>Selection procedure for DRL was quite easy. It had an online test succeeded by a PI. Online test had basic core mechanical questions. PI was strictly resume based. You just need to confidently describe your projects and internships,</li>

			<li>On the other hand, Hero Motocorp was tough as this was offcampus. I grabbed a ppi last year in Hero campus challenge season 5 then I had to give its interview where the questions were purely based on deep core concepts of mechanical engineering.</li></ul>
			</div>
		</div>

		<div class="qna-section">
			<div class="question">Question 5:As you mentioned that projects played a vital role in your placement, what were the projects that you did?</div>

			<div class="answer">Answer:Some of my projects are as follows - 
			<ul style="margin-left:20px">
				 <li>My first project was my internship at Tata Motors where  I had to study the formation process of Long Members and PTCED process and optimise the time taken in the process.</li>

				<li>Second Project was the internship at Tata Steel R&D under Mind Over Matter competition. It's was a research thesis on biocoke formation for steel making process.</li>

				<li>Third one was my final year research project titled Process Evaluation of Friction Stir Welding.</li>

				<li>Apart from this I had minor training project at IIT Kharagpur based on coding of Kuka Robots.</li>
			</ul>
			</div>
		</div>

		<div class="qna-section">
			<div class="question">Question 6:How being a part of Robolution helped you in gaining an edge over other candidates?</div>
			<div class="answer">Answer:I cannot say that if being in Robolution gives you an edge over other candidates but it certainly puts you at a higher pedestal with the amount of experience, knowledge and opportunities that it provides
			</div>
		</div>
		<div class="qna-section" style="padding-bottom:20px;">
			<div class="question">Question 7:Any extra advice to your juniors for technical skills that they should develop?</div>

			<div class="answer">Answer: Just have a thorough knowledge of the projects that you are doing and that would suffice( for non circuitals ) – All the best!!</div>
		</div>
	</div>
</section>

</section>
 <script src=""></script>
<%- include('footer') %>