<%- include('header') %>
    <div id="particles-js"><canvas class="particles-js-canvas-el" width="452" height="608" style="width: 100%; height: 100%;"></canvas></div>
    <script src="js/particles.js"></script>
    <script src="js/app.js"></script>

<section class="class-details-section spad">
<section class="experience" style="opacity:1">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-5 col-sm-5">
				<div class="hero-img">
					<div class="picture-hero ">
						<img class="img-fluid" src="../public/img/k17/team_10.jpg">
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-5 col-sm-5">
				<div class="heading-exp">
					<h2 class="name" >Anurag Singh </h2>
					<i><h2 class="company">Company: PWC</h2></i>
					<h2 class=" branch">Branch: Mechanical Engineering (2021)</h2>
					<h2 class="profile-0">Profile Offered: Technology Consultant</h2>
					<div class="social-links">
						<h2 class="profile-0">LinkedIn: <a href="https://www.linkedin.com/in/anurag-kumar-bb7a22183/"><i class="fa fa-linkedin-square " aria-hidden="true"></i></a></h2>
                       
					</div>
					
				</div>
			</div>
			
		</div>
	</div>
	<div class="hero-text-container">
		<div class="qna-section">
			<div class="question">Question 1: Tell us something about yourself.(include your placed co.)</div>

			<div class="answer">Answer: This is Anurag Singh from Mechanical engineering department. I was recruited by team Robolution in 2017 for the mechanical subteam.  My responsiblity was to design and manufacture robots for the team. After completing 4 years in club i acquired the skill sets of CAD design, knowledge of different manufacturing processes, Artificial Intelligence, Computer Vision, Human resource Management and presentation skills. In my prefinal year i was able to grab an internship offer at Aditya Birla group (Operations Manager) from campus. I completed my final year with two full time job offers . One at PWC (technology consultant) ,the other at Cognizant ( data analyst).</div>
		</div>

		<div class="qna-section">
			<div class="question">Question 2: How to prepare for the companies of that sector and  Describe the selection procedure of the company?</div>

			<div class="answer">Answer:
			<ol style="margin-left:20px">
			<li>Mechanical Core (Aditya Birla group ):
			AMCAT test :  There are 4 sections- English, maths , logical, technical. For the first three you can start with india bix , then solve amcat sample questions. To become expert in it you can solve Arun Sharma.For technical : study core subjects depending on the company. You can practice amcat sample questions.</li>

			<li>Consultancy ( PWC) : At PWC ,there were two rounds of online tests.One was aptitude with three types of questions: Data Interpretation Questions, Pattern recognition, English paras interpretation.The other was personality test.
			Interviews: There were three rounds of technical interview with one HR interview , questions based on resume ( your resume should be aligned with job role ).
			Tips : practice DI questions properly from any book. Knowledge of python/ tableau/ Machine learning/ SQL/ Excel gives advantage in technical interviews.</li>

			<li>Cognizant : knowledge of  your branch , any programming language and good aptitude ( people with no programming skills can also get selected)</li>
			</ul>
			</div>
		</div>


		<div class="qna-section">
			<div class="question">Question  4:Now coming to the most dreaded part of every recruitment process, describe your interview(s)(include projects)</div>

			<div class="answer">Answer: 
			<ul style="margin-left:20px">
			<li>Of all the interviews that i have given, i have concluded that there are three key factors to crack any interview. Firstly, your resume should have something that they are looking for. For this, carefully read the job requirements.</li>
			<li>Secondly, You should not give them any impression that you will leave the company for higher studies. Keep a low family background profile.</li> 
			<li>Thirdly , you will only be rejected if you won't answer the easy questions. Therefore, if you do not know the answers of good questions, say No to them.</li>
			<li>Tips : be confident , explain your projects in simple language, guide your interview yourself ( prepare intro accordingly)</li></ul>
			</div>
		</div>

		<div class="qna-section">
			<div class="question">Question 5:As you mentioned that projects played a vital role in your placement, what were the projects that you did?</div>

			<div class="answer">Answer:Some of my projects are as follows - 
			
				 In Robolution , we do many projects right away from the beginning. So i had lots of projects that i could write on my resume. My projects were on Mechanical design, Machine learning, IOT, Computer Vision ,Data analytics and Manufacturing
			
			</div>
		</div>

		<div class="qna-section">
			<div class="question">Question 6:How being a part of Robolution helped you in gaining an edge over other candidates?</div>
			<div class="answer">Answer:Working in Robolution has many perks. Firstly you get to learn the skills that i have mentioned. You get good internship opportunities due to the contacts of the alumni.
			In my second year only i got an opportunity to do an internship at IIT Delhi. In my third year winter, i did an internship at IIT kgp. It was all possible due to team Robolution. You will end the club with  resumes better than anybody in the college. People interested in research or want to pursue higher studies will benefit the most.
			</div>
		</div>
		<div class="qna-section" style="padding-bottom:20px;">
			<div class="question">Question 7:Any extra advice to your juniors for technical skills that they should develop?</div>

			<div class="answer">Answer: Do everything in college. Participate in fests, travel outstations with friends, bunk classes, participate in mess elections( belive me you will love it) , get involved with girls.  Find a balance in everything. Lastly be that humble person that people love.</div>
		</div>
	</div>
</section>

</section>
 <script src=""></script>
<%- include('footer') %>