<%- include('header') %>
    <div id="particles-js"><canvas class="particles-js-canvas-el" width="452" height="608" style="width: 100%; height: 100%;"></canvas></div>
    <script src="js/particles.js"></script>
    <script src="js/app.js"></script>

<section class="class-details-section spad">
<section class="experience" style="opacity:1">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-5 col-sm-5">
				<div class="hero-img">
					<div class="picture-hero ">
						<img class="img-fluid" src="../public/img/k17/team-9.jpeg">
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-5 col-sm-5">
				<div class="heading-exp">
					<h2 class="name">Abhishek Asi</h2>
					<i><h2 class="company">Company: NXP Semiconductors</h2></i>
					<h2 class=" branch">Branch: ECE (2021)</h2>
					<h2 class="profile-0">Profile Offered:Design engineer</h2>
					<div class="social-links">
						<h2 class="profile-0">LinkedIn: <a href="https://www.linkedin.com/in/vivek-basant-09201817b"><i class="fa fa-linkedin-square " aria-hidden="true"></i></a></h2>
                       
					</div>
					
				</div>
			</div>
			
		</div>
	</div>
	<div class="hero-text-container">
		<div class="qna-section">
			<div class="question">Question 1: Tell us something about yourself.(include your placed co.)</div>

			<div class="answer">Answer:Hi folks, I am Abhishek Asi, final year ECE Undergrad. I have been placed in NXP Semiconductors for the role of Design Engineer. I had also received Hardware Intern role at Mentor Graphics but since I got FTE+Intern role at NXP Semiconductors, I chose to join the latter. I was part of only Robolution Club because of my interests in the hardware domain.</div>
		</div>

		<div class="qna-section">
			<div class="question">Question 2: How to prepare for the companies of that sector?</div>

			<div class="answer">Answer:The first most important thing is to know your syllabus, some of the concepts asked during interviews were absent in our curriculum, so we had to collect those resources from our seniors. So, knowing your syllabus and collecting the required resources must be the first step. I know it is a vast syllabus but 6-7 months of consistent effort shall be enough to get prepared. 
			Begin slowly and configure your approach as you complete one part and move on to the next. Solving GATE Questions is really important because to score high in the written test, one must be quick enough to answer the MCQs due to the limited time and since most of the questions are similar to GATE questions, it really helps.
			The best tip is to be consistent while preparing for core companies. Some topics fade away very quickly and revision should be of utmost priority. Some of the important topics are Digital Electronics, C, Verilog, Analog Electronics, Rabaey Book Chapters 3,5,6 – very important, VLSI Design, STA, DFT, Computer Architecture, Transient Analysis, etc.
			I have tried to be very brief about the topics here because even if one gives me an hour to speak on this in detail, it will not be sufficient and I am sure most of you already know about the syllabus but if you still have any doubts related to the syllabus or preparation, please feel free to contact me, I will be happy to help.
			</div>
		</div>

		<div class="qna-section">
			<div class="question">Question 3: Describe the selection procedure of that company.</div>

				<div class="answer">Answer:  For Mentor Graphics, there was an initial shortlisting based on resume. And then one single Technical Interview Round. 
				For NXP Semiconductors, there were three rounds during the recruitment process. There was an initial shortlisting as well based on CGPA. First round was an Online Test comprising 20 MCQs, 4 subjective questions and 3 design questions. Second round was Technical Interview round. The last round was the HR Interview.
			</div>
		</div>

		<div class="qna-section">
			<div class="question">Question  4:Now coming to the most dreaded part of every recruitment process, describe your interview(s)(include projects)</div>

			<div class="answer">Answer: 
			<ul style="margin-left:20px">
			<li>For Mentor Graphics, it was around 45 minutes long interview on the Teams platform. It started with a general introduction about myself. Since Mentor Graphics is an EDA (Electronic Design Automation) company, there were a few questions on coding concepts related to C, OOPs and Python as well. So even though it seems like coding is not important in core companies but some companies do have a section in the online tests on coding concepts. Then I was asked to describe my college life with respect to the projects I did. I told them about Robolution Club and how we worked with different designs for our Throwing Bot to be used in the Robocon’20 Competition. I had also done a hardware design project using Verilog and the interviewer asked me to explain the project briefly. Then there were a few cross questions on the implementation of my projects. After that it was more like a rapid-fire questionnaire with questions ranging from VLSI Design to Digital Electronics. Many questions were focussed on differentiating between two concepts, different keywords in Python and C, or design styles. So, being thorough with the basics will help in dealing with such questions. </li>
			<li>For NXP Semiconductors, the Technical Interview round also began with a general introduction about myself. I was a bit nervous since the interview shortlist was announced just a few minutes ago and that too suddenly but I tried to keep myself calm as much as possible. Initially the questions were based on STA, DFT and VLSI Design, I was asked to explain different concepts in detail like metastability, latchup, why DFT is important, voltage and channel scaling in MOSFET, etc. Also, they asked me situation-based questions and I had to decide what kind of design is preferable in that situation or what will be the implication of using different parameters in a design, for example, I was asked – What will happen if the system clock is doubled while the network connection frequency is constant or Which ISA is preferred for memory accessing operations. For such questions, I will again repeat be thorough with the basics, such questions will have the simplest answer but if it isn’t in your mind, nothing will help in that moment. Then I was asked what was my favourite subject, I told them Computer Architecture. I was again asked few situation-based questions and basic questions on Computer Architecture. So, what I would say is that they wanted to test my understanding of the subject rather than how much I knew. They wanted to know whether I can implement what I know. Finally, they asked me about my project from internship at IIT Kharagpur. They wanted to know what was my contribution, what else I could have done to improve the project and what are my learnings from the project. I would suggest juniors to stay calm as much as you can during interviews and trust your basic knowledge because that is what is being tested.
			After the Technical Interview, there was a final HR Interview. It is very likely that if you reach this round you will be selected but do hold your horses, you don’t know what will happen so give your best and be as clear as possible while answering their questions. I was asked some questions on my family background and why I chose hardware and why not coding. Then he asked me which is my preferred location and concluded by saying “Hope you will hear some good news today”. In short, this round is basically to know about you and what are your future plans. So, stay calm and you will surely nail it.</li></ul>
			</div>
		</div>

		<div class="qna-section">
			<div class="question">Question 5:As you mentioned that projects played a vital role in your placement, what were the projects that you did?</div>

			<div class="answer">Answer:Some of my projects are as follows - 
			<ul style="margin-left:20px">
				<li>	Tracing Bot - A bot which could traverse any given equation and shape, for the Annual Robotics Exhibition organized by Robolution Club annually on the 15th of August. </li>
				<li>	Throwing Bot for Robocon’20 – Robocon is an international event, which is first held at the national level and the winners from different countries participate at the international level.</li>
				<li>	UART IP Design using Verilog.</li>
				<li>	Internship Project at IIT Kharagpur – A low-cost vision based automated gripper for a robotic arm in an assembly line.</li>
			</ul>
			</div>
		</div>

		<div class="qna-section">
			<div class="question">Question 6:How being a part of Robolution helped you in gaining an edge over other candidates?</div>
			<div class="answer">Answer:As you can see some of my projects are due to the events regularly held or participated by Robolution Club, so being a part of Robolution Club definitely helps in building your profile much better as compared to your peers. Also, I was able to grab the internship at IIT Kharagpur because of the strong Robolution Club Alumni connections at IIT Kharagpur. Finally, I will say that if you are a hardware enthusiast, Robolution Club is the best place for you to learn and grow.
			</div>
		</div>
		<div class="qna-section" style="padding-bottom:20px;">
			<div class="question">Question 7:Any extra advice to your juniors for technical skills that they should develop?</div>

			<div class="answer">Answer: Technical skills like Digital VLSI Design, Verilog and C are really important. Questions in interviews and written test will definitely be asked from these topics irrespective of the company you apply. CGPA is also important but anything above 8-8.2 will be good enough to get shortlisted, what matters is giving your 100% in the written test and technical interview because that will boost your chances. Focus on your CGPA, try to score as much as you can in the written test, be thorough with the basics and some concepts which are not part of the curriculum, and then you will surely get selected somewhere – All the best!!</div>
		</div>
	</div>
</section>

</section>
 <script src=""></script>
<%- include('footer') %>