<%- include('header') %>
    <div id="particles-js"><canvas class="particles-js-canvas-el" width="452" height="608" style="width: 100%; height: 100%;"></canvas></div>
    <script src="js/particles.js"></script>
    <script src="js/app.js"></script>

<section class="class-details-section spad">
<section class="experience" style="opacity:1">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-5 col-sm-5">
				<div class="hero-img">
					<div class="picture-hero ">
						<img class="img-fluid" src="../public/img/k17/team-15.jpeg">
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-5 col-sm-5">
				<div class="heading-exp">
					<h2 class="name" >Dhruv Gupta </h2>
					<i><h2 class="company">Company: Rightbot</h2></i>
					<h2 class=" branch">Branch: EEE  (2021)</h2>
					<h2 class="profile-0">Profile Offered: Technology Consultant</h2>
					<div class="social-links">
						<h2 class="profile-0">LinkedIn: <a href="https://www.linkedin.com/in/dhruv-gupta-32021616a/"><i class="fa fa-linkedin-square " aria-hidden="true"></i></a></h2>
                       
					</div>
					
				</div>
			</div>
			
		</div>
	</div>
	<div class="hero-text-container">
		<div class="qna-section">
			<div class="question">Question 1: Tell us something about yourself.(include your placed co.)</div>

			<div class="answer">Answer: Hello everyone one I am Dhruv Gupta.
			I am in the EEE branch and joined BIT in 2017. I was in the robotics club of our institute also known as 'Robolution' 

			Apart from being a robotics enthusiast, I am also a huge fan of sports(mainly outdoor) and also like to debate.

			Currently, I am placed in 'Rightbot'. It is basically a warehouse automation company. 
			</div>
		</div>

		<div class="qna-section">
			<div class="question">Question 2: How to prepare for the companies of that sector.</div>

			<div class="answer">Answer:
			<ol style="margin-left:20px">
			<ul style="margin-left:20px">
			<li>I am in the robotics software team, so for that you need:-
			<ol style="margin-left:20px;">
			<li>Good Programming (C++/Python) </li>
			<li>Good theoretical knowledge of ROS (Robot Operating System) </li>
			<li>Basic understanding of Linux. </li>
			</ol>
			</li>

			<li>The level of programming skills should be equivalent to the skill of any candidate getting selected in an IT firm and this is also the most fundamental thing. </li>

			<li>Apart from that the projects that highlight your robotics skills also improve your chances of getting into one of these firms. </li>

			<li>Any research paper, hackathon, achievement in similar field will definitely boost your profile. </li>

			<li>So to summarise there is not a fixed path to enter into this field and that is the beauty, you get to experiment with a lot of things and then filter out things you like.</li>

			<li>But consistency is one thing that is important. It's obviously not a 5-6 months process that will guarantee you the selection like it is with most of the fields it is the whole 3.5 - 4 years of constant effort and hard work that will give you the result. </li>

			<li>If you want to stand apart from the crowd, your efforts have to be extraordinary.</li>

			</ul>
			</div>
		</div>
		<div class="qna-section">
			<div class="question">Question 3: Describe the selection procedure of that company.</div>

				<div class="answer">Answer: 
			So this was an off-campus process.
			I applied through LinkedIn. 

			<ol style="margin-left:20px"><li>The first round was a 2hr screening test. 
			Which was not your typical coding round. 
			It was a mix of both coding and your ability to understand the code structure. The code was spread across various files with various classes, so it also tested your OOPS concept at the same time. </li>

			<li>The second round was a 1.5 hr video-interview process. So it was a typical interview wherein the interviewer questioned me on technical concepts, situational conditions and on some of my projects. </li>

			<li>The third round was again basically a 1 hr coding round. 

			And so this was the final round after which I was selected for the role. </li></ol>

			</div>
		</div>

		<div class="qna-section">
			<div class="question">Question  4:Now coming to the most dreaded part of every recruitment process, describe your interview(s)(include projects)</div>

			<div class="answer">Answer: 
			
			Interviews have always been a plus-point for me because I think I have an edge over others in terms of expressing myself and explaining my point to the interviewer.

			As robotics is a relatively new field so I gave 4 off-campus interviews out of which I had offers from 3 companies, and for on-campus I had offers from 2 companies(Infineon and Addverb) out of 2 companies for which I got a chance to interview for. So my interview to final job conversion rate was pretty high. 
			<ul style="margin-left:20px">
			<li>So for <b>Rightbot</b>, the questions were on:-
			<ul style="margin-left:20px"><li>
			<b>Programming:-</b> 
				<ol style="margin-left:20px">
				<li>Swapping of numbers.</li> 
				<li>Linked-List</li>
				<li>Oops</li>
				<li>File handling </li></ol>
			</li>
			<li><b>ROS:-</b>
				<ol style="margin-left:20px">
				<li> Communications in ROS</li>
				<li> Navigation_Stack. </li></ol>
			</li>
			<li>For all the robotics firms the questions basically revolved around coding, ROS and projects.</li></ul>

			<li>And for <b>Infineon</b>, all questions were on projects and only a handful on coding for the software role. In projects, I mentioned 3 projects all made in 3 different years (2nd, 3rd, 4th) basically to show my consistency. 

			So 2 projects were majorly asked one, on which I have a research paper published which is based on Stereo-Vision and another which used ROS for 2-D autonomous indoor navigation of a drone. </li>
			</ol>

			One important thing in the interview is to be totally honest with the interviewer and not guess answers to the questions you don't know no matter how frequent that has to happen. Sometimes they continuously ask tough questions to check how you handle situations which you don't have answers to. But at the same time, you have to be confident in your skill so that even if the question is not direct you can mould the answer according to your convenience. This balance is vital, according to me. 
			</div>
		</div>

		<div class="qna-section">
			<div class="question">Question 5:As you mentioned that projects played a vital role in your placement, what were the projects that you did?</div>

			<div class="answer">Answer:Yes, projects help you narrow down the area from where the interviewer can ask questions and also the questions will also be easier to explain as you can link them to a particular part of our project. 

			So I had mentioned 3 projects in my resume. They were:-
			<ol style="margin-left:20px">

			<li>2-D Indoor navigation of a drone. (Simulation) </li>
			<li>Autonomous Indoor Navigation using Stereo-Vision. (Research Paper) </li>
			<li>Self-Aiming Bot. </li>

			And so in some companies one round got completely devoted to my projects which reduced uncertainty in questions and automatic selection for the next round. 

			
			</div>
		</div>

		<div class="qna-section">
			<div class="question">Question 6:How being a part of Robolution helped you in gaining an edge over other candidates?</div>
			<div class="answer">Answer:
			<ul style="margin-left:20px"><li>The best part of being in Robolution is that you get to be a part of an awesome, talented and hardworking group of people motivated to bring a change. 
			So you are always motivated to constantly improve and work as hard as possible.</li> 

			<li>So in my case, when I joined the club, I always felt like I was the least knowledgeable (dumbest) person in the club. And it was only through constant hard work that I was able to eliminate that feeling.</li>

			<li>Working at Robolution will redefine the meaning of hard work for you. 7hr+ working hours (apart from college), spending the whole night fixing issues e.t.c will make you confident in your skill plus will make you understand the importance of hard work which you will cherish throughout your life.</li> 

			<li>One thing I can guarantee is that if you join the club you will be the part of the best group in BIT with the best alumni support in BIT. </li></ul>

			</div>
		</div>
		<div class="qna-section" style="padding-bottom:20px;">
			<div class="question">Question 7:Any extra advice to your juniors for technical skills that they should develop?</div>

			<div class="answer">Answer: 
			It's very important to constantly introspect yourself. Only you know the skill you are not comfortable with and if it interests you, then you should definitely improve that.

			It's worse to have a shallow understanding of a topic than to not know it all. Because when asked questions it will appear that you are guessing the answer which will leave a very negative impression of your personality. 

			So my way was to write all the skills I want to improve in some order and try to read the documentation available whenever possible. Because you will encounter various topics so it's important to keep track of those that interest you. 
</div>
		</div>
	</div>
</section>

</section>
 <script src=""></script>
<%- include('footer') %>