<%- include('header') %>
    <div id="particles-js"><canvas class="particles-js-canvas-el" width="452" height="608" style="width: 100%; height: 100%;"></canvas></div>
    <script src="js/particles.js"></script>
    <script src="js/app.js"></script>


<section class="class-details-section spad">
	<div class="exe-heading d-flex justify-content-center">
		<h2 style="text-shadow: 0.5px 1.5px 1.5px #000000;color: orangered;" class="wow bounceInUp">Executive Body 2020-2021 </h2>
	</div>
	<section class="exe-bodies">
		<div class="container con-exe">
			<div class="row row-post d-flex justify-content-around">
				<div class="col-lg-12 col-md-12 col-12">
					<div class="post d-flex justify-content-center">
								<h2>Faculty Advisor</h2>
					</div>
					<div class="president-post d-flex justify-content-center">
							<div class="post-img mx-auto">
								<img class="img-fluid img-posts" src="../public/img/k18/richa-pandey.jpeg">
								<h3 class="name-post">Richa Pandey</h3>
								
							</div>
					</div>
				</div
			</div>
			<div class="row row-post d-flex justify-content-around">
				<div class="col-lg-12 col-md-12 col-12">
					<div class="post d-flex justify-content-center">
								<h2>President</h2>
					</div>
					<div class="president-post d-flex justify-content-center">
							<div class="post-img mx-auto">
								<img class="img-fluid img-posts" src="../public/img/k17/team-2.jpg">
								<h3 class="name-post">Sourabh Khemka</h3>
								
							</div>
					</div>
				</div
			</div>
			<div class="post d-flex justify-content-center" style="margin-top:10px">
						<h2>Vice President</h2>
			</div>
			<div class="row row-post d-flex justify-content-around">
				<div class="col-lg-6 col-md-6 col-12">
					
					<div class="post-img mx-auto">
						<img class="img-fluid img-posts" src="../public/img/k17/team-1.jpg">
						<h3 class="name-post">Sarthak M.Das</h3>
						
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-12">
					<div class="post-img mx-auto">
						<img class="img-fluid img-posts" src="../public/img/k17/team-6.png">
						<h3 class="name-post">Sahil Kumar</h3>
						
					</div>
				</div>
			</div>

			<div class="row row-post">
				<div class="col-lg-6 col-md-6 col-12">
					<div class="post mx-auto">
						<h2>Captain</h2>
					</div>
					<div class="post-img mx-auto">
						<img class="img-fluid img-posts" src="../public/img/k18/4.jpg">
						<h3 class="name-post">Ritam Upadhyay</h3>
						
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-12">
					<div class="post mx-auto">
						<h2>Vice Captain</h2>
					</div>
					<div class="post-img mx-auto">
						<img class="img-fluid img-posts" src="../public/img/k18/rishav-1.jpg">
						<h3 class="name-post">Rishav Raj</h3>
						
					</div>
				</div>
			</div>

			<div class="row row-post">
				<div class="col-lg-6 col-md-6 col-12">
					<div class="post mx-auto">
						<h2>General Secratery</h2>
					</div>
					<div class="post-img mx-auto">
						<img class="img-fluid img-posts" src="../public/img/k18/9.jpeg">
						<h3 class="name-post">Ritik Garg</h3>
						
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-12">
					<div class="post mx-auto">
						<h2>Treasurer</h2>
					</div>
					<div class="post-img mx-auto">
						<img class="img-fluid img-posts" src="../public/img/k18/12.jpeg">
						<h3 class="name-post">Shivani Bhardwaj</h3>
						
					</div>
				</div>
			</div>

			<div class="row row-post lead-post">
				<div class="col-lg-4 col-md-4 col-sm-12">
					<div class="post mx-auto">
						<h2>Embedded Lead</h2>
					</div>
					<div class="post-img mx-auto">
						<img class="img-fluid img-posts" src="../public/img/k18/13.jpg">
						<h3 class="name-post">Utkarsh Srivastava</h3>
						
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12">
					<div class="post mx-auto">
						<h2 class="mech">Mechanical Lead</h2>
					</div>
					<div class="post-img mx-auto">
						<img class="img-fluid img-posts" src="../public/img/k18/3.jpg">
						<h3 class="name-post">Saurabh Kumar</h3>
						
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12">
					<div class="post mx-auto">
						<h2 class="management">Management Lead</h2>
					</div>
					<div class="post-img mx-auto">
						<img class="img-fluid img-posts" src="../public/img/k18/11.jpeg">
						<h3 class="name-post">Satyam Kumar</h3>
						
					</div>
				</div>
			</div>

			<div class="post d-flex justify-content-center" style="margin-top:10px;">
						<h2>Social Media Lead</h2>
			</div>
			<div class="row row-post">
				<div class="col-lg-6 col-md-6 col-12">
					<div class="post-img mx-auto">
						<img class="img-fluid img-posts" src="../public/img/k18/6.jpeg">
						<h3 class="name-post">Mukul kumar</h3>
						
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-12">
					<div class="post-img mx-auto">
						<img class="img-fluid img-posts" src="../public/img/k18/14.jpeg">
						<h3 class="name-post">Aryan Yashaswi</h3>
						
					</div>
				</div>
			</div>



		</div>
	</section>
</section>

 <script src=""></script>
<%- include('footer') %>