
        <!-- Get In Touch Section Begin -->
        <div class="gettouch-section" id="contacts">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="gt-text">
                            <i class="fa fa-map-marker"></i>
                            <p>Arena - Hostel 3, Mess, BIT Mesra<br/> Ranchi 835215</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="gt-text">
                            <i class="fa fa-mobile"></i>
                            <ul>
                                <li>9102979480</li>
                                <li>8210271746</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="gt-text email">
                            <i class="fa fa-envelope"></i>
                            <p>pratyunmis@bitmesra.ac.in</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Get In Touch Section End -->
      <!-- Footer Section Begin -->
      <section class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="fs-about">
                        <div class="fa-logo wow bounceInUp">
                            <a href="/home"><img src="img/robo.jpg" alt=""></a>
                        </div>
                        <p></p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="fs-widget wow bounceInUp">
                        <h4>Useful links</h4>
                        <ul>
                            <li><a href="/home/#about">About</a></li>
                            <li><a href="/projects">Projects</a></li>
                            <li><a href="/home/#ws">Workshops</a></li>
                            <li><a href="/achievement">Achievements</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="fs-widget wow bounceInUp">
                        <p>The Robolution CLUB of BIT Mesra, envisions to Innovate Implement and Inspire ideas to foster the spirit of robotics and automation among it’s pupil by continuously creating hotspots where pool of technical knowledge meets via workshops,fest events and club meetings to discuss problems and work as team to solve real life problems thereby heading towards the idea of “Robotification”</p>
                        <a href="https://www.facebook.com/TeamRobolution/?eid=ARAZpfhc6anMn3T35Xr4FRcJpJE7SooUh2L6GNzqg6mSQxZYYeLpxDoEMciJFKK0q5ZKMa1h5-zt-kru"><i class="fa fa-facebook"></i></a>
                        <a href="https://github.com/Pratyunmis"><i class="fa fa-github"></i></a>
                        <a href="https://www.youtube.com/channel/UCHm2r9HbF3R10zbFwJtk2lQ"><i class="fa fa-youtube-play"></i></a>
                        <a href="https://www.instagram.com/robolution.bitm/?hl=en"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="copyright-text">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://www.linkedin.com/in/sarthak-m-d/">Sarthak M. Das</a> | <a href="https://www.linkedin.com/in/rishav-raj-54bab7192/">Rishav Raj</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/jquery.barfiller.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/dropdown.js"></script>
     <script src="js/particles.js"></script>
      <script src="js/wow.mini.js"></script>
     <script src="https://use.fontawesome.com/429b728fc3.js"></script>
    <script>
              new WOW().init();
              </script>

        <script>
        Preloader('#video');
        </script>
        <script>

             function pageScroll() {
                window.scrollBy(0,1);
                scrolldelay = setTimeout(pageScroll,10);
            }
            </script>
  </body>
  </html>