<%- include('header') %>



    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/gallery/cover.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2 style="text-shadow: 0.5px 1.5px 1.5px #000000;color: orangered;" class="wow bounceInUp1">Gallery</h2>
                        <div class="bt-option">
                            <a href="/home">Home</a>
                            <a href="/gallery" style="color: orangered;">Gallery</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Gallery Section Begin -->
    <div class="gallery-section gallery-page">
        <div class="gallery">
            <div class="grid-sizer"></div>
            <div class="gs-item grid-wide set-bg" data-setbg="img/gallery/gallery_1.jpg">
                <a href="img/gallery/gallery_1.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="img/gallery/gallery_2.jpg">
                <a href="img/gallery/gallery_2.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            
            <div class="gs-item set-bg" data-setbg="img/gallery/gallery_3.jpg">
                <a href="img/gallery/gallery_3.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item grid-wide set-bg" data-setbg="img/gallery/gallery_4.jpg">
                <a href="img/gallery/gallery_4.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>

            
            <div class="gs-item set-bg" data-setbg="img/gallery/gallery_8.jpg">
                <a href="img/gallery/gallery_8.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item grid-wide set-bg" data-setbg="img/gallery/gallery_56.jpg">
                <a href="img/gallery/gallery_56.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="img/gallery/gallery_9.jpg">
                <a href="img/gallery/gallery_9.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
             <div class="gs-item grid-wide set-bg" data-setbg="img/gallery/gallery_43.jpg">
                <a href="img/gallery/gallery_43.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="img/gallery/gallery_35.jpg">
                <a href="img/gallery/gallery_35.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item grid-wide set-bg" data-setbg="img/gallery/gallery_36.jpg">
                <a href="img/gallery/gallery_36.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="img/gallery/gallery_39.jpg">
                <a href="img/gallery/gallery_39.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item grid-wide set-bg" data-setbg="img/gallery/gallery_44.jpg">
                <a href="img/gallery/gallery_44.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="img/gallery/gallery_40.jpg">
                <a href="img/gallery/gallery_40.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            
            <div class="gs-item set-bg" data-setbg="img/gallery/gallery_41.jpg">
                <a href="img/gallery/gallery_41.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item grid-wide  set-bg" data-setbg="img/gallery/gallery_14.jpg">
                <a href="img/gallery/gallery_14.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item  set-bg" data-setbg="img/gallery/gallery_15.jpg">
                <a href="img/gallery/gallery_15.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="img/gallery/gallery_10.jpg">
                <a href="img/gallery/gallery_10.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="img/gallery/gallery_31.jpg">
                <a href="img/gallery/gallery_31.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item grid-wide set-bg" data-setbg="img/gallery/gallery_45.jpg">
                <a href="img/gallery/gallery_45.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="img/gallery/gallery_38.jpg">
                <a href="img/gallery/gallery_38.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg grid-wide" data-setbg="img/gallery/gallery_17.jpg">
                <a href="img/gallery/gallery_17.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item grid-wide set-bg" data-setbg="img/gallery/gallery_49.jpg">
                <a href="img/gallery/gallery_49.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="img/gallery/gallery_19.jpg">
                <a href="img/gallery/gallery_36.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item grid-wide set-bg" data-setbg="img/gallery/gallery_11.jpg">
                <a href="img/gallery/gallery_11.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="img/gallery/gallery_12.jpg">
                <a href="img/gallery/gallery_12.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item  set-bg" data-setbg="img/gallery/gallery_48.jpg">
                <a href="img/gallery/gallery_48.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
                        <div class="gs-item grid-wide set-bg" data-setbg="img/gallery/gallery_52.jpg">
                <a href="img/gallery/gallery_52.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="img/gallery/gallery_51.jpg">
                <a href="img/gallery/gallery_51.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>

            <div class="gs-item grid-wide set-bg" data-setbg="img/gallery/gallery_5.jpg">
                <a href="img/gallery/gallery_5.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>

            <div class="gs-item grid-wide set-bg" data-setbg="img/gallery/gallery_6.jpg">
                <a href="img/gallery/gallery_6.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="img/gallery/gallery_53.jpg">
                <a href="img/gallery/gallery_53.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            
            <div class="gs-item set-bg" data-setbg="img/gallery/gallery_8.jpg">
                <a href="img/gallery/gallery_8.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item  set-bg" data-setbg="img/gallery/gallery_54.jpg">
                <a href="img/gallery/gallery_54.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="img/gallery/gallery_9.jpg">
                <a href="img/gallery/gallery_9.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div> 
        </div>
    </div>
    <!-- Gallery Section End -->

<%- include('footer') %>