<%- include('header') %>



    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/gallery/cover.jpeg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2 style="text-shadow: 0.5px 1.5px 1.5px #000000;color: orangered;" class="wow bounceInUp">Gallery</h2>
                        <div class="bt-option">
                            <a href="/home">Home</a>
                            <a href="/gallery" style="color: orangered;">Gallery</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Gallery Section Begin -->
    <div class="gallery-section gallery-page">
        <div class="gallery">
            <div class="grid-sizer"></div>
            <div class="gs-item grid-wide set-bg" data-setbg="img/gallery/gallery-1.jpeg">
                <a href="img/gallery/gallery-1.jpeg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="img/gallery/gallery-2.jpeg">
                <a href="img/gallery/gallery-2.jpeg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            
            <div class="gs-item set-bg" data-setbg="img/gallery/gallery-3.jpeg">
                <a href="img/gallery/gallery-3.jpeg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item grid-wide set-bg" data-setbg="img/gallery/gallery-4.jpeg">
                <a href="img/gallery/gallery-4.jpeg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>

            
            <div class="gs-item set-bg" data-setbg="img/gallery/gallery-8.jpeg">
                <a href="img/gallery/gallery-8.jpeg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item grid-wide set-bg" data-setbg="img/gallery/gallery-56.jpg">
                <a href="img/gallery/gallery-56.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="img/gallery/gallery-9.jpeg">
                <a href="img/gallery/gallery-9.jpeg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
             <div class="gs-item grid-wide set-bg" data-setbg="img/gallery/gallery-43.jpeg">
                <a href="img/gallery/gallery-43.jpeg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="img/gallery/gallery-35.jpeg">
                <a href="img/gallery/gallery-35.jpeg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item grid-wide set-bg" data-setbg="img/gallery/gallery-36.jpeg">
                <a href="img/gallery/gallery-36.jpeg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="img/gallery/gallery-39.jpeg">
                <a href="img/gallery/gallery-39.jpeg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item grid-wide set-bg" data-setbg="img/gallery/gallery-44.jpg">
                <a href="img/gallery/gallery-44.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="img/gallery/gallery-40.jpeg">
                <a href="img/gallery/gallery-40.jpeg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            
            <div class="gs-item set-bg" data-setbg="img/gallery/gallery-41.jpeg">
                <a href="img/gallery/gallery-41.jpeg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item grid-wide  set-bg" data-setbg="img/gallery/gallery-14.jpeg">
                <a href="img/gallery/gallery-14.jpeg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item  set-bg" data-setbg="img/gallery/gallery-15.jpeg">
                <a href="img/gallery/gallery-15.jpeg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="img/gallery/gallery-10.jpeg">
                <a href="img/gallery/gallery-10.jpeg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="img/gallery/gallery-31.jpeg">
                <a href="img/gallery/gallery-31.jpeg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item grid-wide set-bg" data-setbg="img/gallery/gallery-45.jpg">
                <a href="img/gallery/gallery-45.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="img/gallery/gallery-38.jpeg">
                <a href="img/gallery/gallery-38.jpeg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg grid-wide" data-setbg="img/gallery/gallery-17.jpeg">
                <a href="img/gallery/gallery-17.jpeg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item grid-wide set-bg" data-setbg="img/gallery/gallery-49.jpg">
                <a href="img/gallery/gallery-49.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="img/gallery/gallery-19.jpeg">
                <a href="img/gallery/gallery-36.jpeg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item grid-wide set-bg" data-setbg="img/gallery/gallery-11.jpeg">
                <a href="img/gallery/gallery-11.jpeg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="img/gallery/gallery-12.jpeg">
                <a href="img/gallery/gallery-12.jpeg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item  set-bg" data-setbg="img/gallery/gallery-48.jpg">
                <a href="img/gallery/gallery-48.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
                        <div class="gs-item grid-wide set-bg" data-setbg="img/gallery/gallery-52.jpeg">
                <a href="img/gallery/gallery-52.jpeg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="img/gallery/gallery-51.jpeg">
                <a href="img/gallery/gallery-51.jpeg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>

            <div class="gs-item grid-wide set-bg" data-setbg="img/gallery/gallery-5.jpeg">
                <a href="img/gallery/gallery-5.jpeg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>

            <div class="gs-item grid-wide set-bg" data-setbg="img/gallery/gallery-6.jpeg">
                <a href="img/gallery/gallery-6.jpeg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="img/gallery/gallery-53.jpeg">
                <a href="img/gallery/gallery-53.jpeg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            
            <div class="gs-item set-bg" data-setbg="img/gallery/gallery-8.jpeg">
                <a href="img/gallery/gallery-8.jpeg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item  set-bg" data-setbg="img/gallery/gallery-54.jpeg">
                <a href="img/gallery/gallery-54.jpeg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="img/gallery/gallery-9.jpeg">
                <a href="img/gallery/gallery-9.jpeg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div> 
        </div>
    </div>
    <!-- Gallery Section End -->

<%- include('footer') %>