<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Robolution Official Website">
    <meta name="keywords" content="Projects, Members and blogs">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/public/">
    <title>Robolution</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!--Bootstrap Css Styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    
<!-- Offcanvas Menu Section Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="canvas-close">
        <i class="fa fa-close"></i>
    </div>
    <div class="canvas-search search-switch">
        <i class="fa fa-search"></i>
    </div>
    <nav class="canvas-menu mobile-menu">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/home/#ws">WorkShops</a></li>
            <li><a href="/achievement">Achievements</a></li>
            <li><a href="/home/#team">Our Team</a></li>
            <li><a href="/blog_list">Blog</a>
                <ul class="dropdown">
                    <li><a href="/blog/Embedded Systems">Embedded Systems</a></li>
                        <li><a href="/blog/Mechanical Design">Mechanical Design</a></li>
                        <li><a href="/blog/Machine Learning">Machine Learning</a></li>
                        <li><a href="/blog/Internet of Things">Internet Of Things</a></li>
                        <li><a href="/blog/Image Processing">Image Processing</a></li>
                        <li><a href="/blog/Blockchain">Blockchain</a></li>
                        <li><a href="/blog/ROS">ROS</a></li>
                </ul>
            </li>
            <li><a href="/projects">Projects</a>
            <li><a href="/home/#contacts">Contact</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="canvas-social">
        <a href="https://www.facebook.com/TeamRobolution/?eid=ARAZpfhc6anMn3T35Xr4FRcJpJE7SooUh2L6GNzqg6mSQxZYYeLpxDoEMciJFKK0q5ZKMa1h5-zt-kru"><i class="fa fa-facebook"></i></a>
        <a href="https://github.com/Pratyunmis"><i class="fa fa-github"></i></a>
        <a href="https://www.youtube.com/channel/UCHm2r9HbF3R10zbFwJtk2lQ"><i class="fa fa-youtube-play"></i></a>
        <a href="https://www.instagram.com/pratyunmis/"><i class="fa fa-instagram"></i></a>
    </div>
</div>
<!-- Offcanvas Menu Section End -->
<!-- Header Section Begin -->
<header class="header-section">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3">
              <div class="logo">
                  <a href="/home">
                      <img src="img/logo.jpg" alt="" style="height: 50px; width: 50px;">
                  </a>
              </div>
          </div>
          <div class="col-lg-6">
              <nav class="nav-menu">
                  <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/home/#ws">WorkShops</a></li>
                    <li><a href="/achievement">Achievements</a></li>
                    <li><a href="/home/#team">Our Team</a></li>
                    <li><a href="/blog_list">Blog</a>
                    <ul class="dropdown">
                            <li><a href="/blog/Embedded Systems">Embedded Systems</a></li>
                            <li><a href="/blog/Mechanical Design">Mechanical Design</a></li>
                            <li><a href="/blog/Machine Learning">Machine Learning</a></li>
                            <li><a href="/blog/Internet of Things">Internet Of Things</a></li>
                            <li><a href="/blog/Image Processing">Image Processing</a></li>
                            <li><a href="/blog/Blockchain">Blockchain</a></li>
                            <li><a href="/blog/ROS">ROS</a></li>
                        </ul>
                    </li>
                    <li><a href="/projects">Projects</a>
                  </ul>
              </nav>
          </div>
          <div class="col-lg-3">
              <div class="top-option">
                  <div class="to-search search-switch">
                      <i class="fa fa-search"></i>
                  </div>
                  <div class="to-social">
                      <a href="https://www.facebook.com/TeamRobolution/?eid=ARAZpfhc6anMn3T35Xr4FRcJpJE7SooUh2L6GNzqg6mSQxZYYeLpxDoEMciJFKK0q5ZKMa1h5-zt-kru"><i class="fa fa-facebook"></i></a>
                      <a href="https://github.com/Pratyunmis"><i class="fa fa-github"></i></a>
                      <a href="https://www.youtube.com/channel/UCHm2r9HbF3R10zbFwJtk2lQ"><i class="fa fa-youtube-play"></i></a>
                      <a href="https://www.instagram.com/pratyunmis/"><i class="fa fa-instagram"></i></a>
                  </div>
              </div>
          </div>
      </div>
      <div class="canvas-open">
          <i class="fa fa-bars"></i>
      </div>
  </div>
</header>
<!-- Header End -->
