<%- include('header') %>
    <div id="particles-js"><canvas class="particles-js-canvas-el" width="452" height="608" style="width: 100%; height: 100%;"></canvas></div>
    <script src="js/particles.js"></script>
    <script src="js/app.js"></script>

<section class="class-details-section spad">
<section class="experience" style="opacity:1">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-5 col-sm-5">
				<div class="hero-img">
					<div class="picture-hero ">
						<img class="img-fluid" src="../public/img/k17/team_2.jpg">
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-5 col-sm-5">
				<div class="heading-exp">
					<h2 class="name">Sourabh Khemka</h2>
					<i><h2 class="company">Company: Steradian Semiconductors</h2></i>
					<h2 class=" branch">Branch: ECE (2021)</h2>
					<h2 class="profile-0">Profile Offered: Embedded sys. Engineer </h2>
					<div class="social-links">
						<h2 class="profile-0">LinkedIn: <a href="https://www.linkedin.com/in/sourabh-khemka-b6894513a/"><i class="fa fa-linkedin-square " aria-hidden="true"></i></a></h2>
                       
					</div>
					
				</div>
			</div>
			
		</div>
	</div>
	<div class="hero-text-container">
		<div class="qna-section">
			<div class="question">Question 1: Tell us something about yourself.(include your placed co.)</div>

			<div class="answer">Answer:I belong to Ranchi itself. From the very first day of college I started experiencing this place in a completely different form. BIT Mesra has found a place close to our hearts. Throughout the college life I enjoyed fooling around with friends after classes were over, having a cup of coffee at IC so as to wash away the stress of 8 to 5. My want to be surrounded by techno-freak people in the college landed me at Robolution. From the day I got selected in the prestigious club, things became even more joyful ! Rushing to arena in evening and spending hours there working with superb seniors and friends, cycling back to hostels in chilling winter nights etc etc.. are the things which we are gonna always cherish. In third yr. I was made the Captain of Robolution and it was a completly diff. experience. I am currently working at Steradian Semiconductors where I'm part of the team doing development & validation of radar system software.</div>
		</div>

		<div class="qna-section">
			<div class="question">Question 2: How to prepare for the companies of that sector?</div>

			<div class="answer">Answer:My interest zone lies in embedded systems, firmware engineering, image processing etc. These are the domains where you see your softwares do wonders when they interface with state-of-the-art hardwares. To prepare for this sector you need to have a good amount of practical intuition of various electronics as well as software components. I suggest that you build up strong hold on C or C++, modern day microcontrollers, Git etc. Apart from this you are should have knowledge about topics like digital electronics, operating systems. You should always keep yourself engaged in robotics' projects so that you will be able to feel the programing languages the way an embedded or a firmware engineer is expected to. You should get a good understanding about the basic aspects of working of C/C++ which you can find in GFG. Having a good resume is a must if you want to enter automation sector. For robotics companies, I'll strongly suggest to dive into ROS.
			</div>
		</div>

		<div class="qna-section">
			<div class="question">Question 3: Describe the selection procedure of that company.</div>

				<div class="answer">Answer: Mine was an off-campus placement process. I got to know about the opportunity from one of our club's senior of 2k12 batch. I emailed my resume to company's HR and after 10-15 days, got a phone call from the HR to schedule an interview. The topics which you need to focus on, depends on the company. I revised the core fundamentals of C language, memory management in OS and went through the DSP course which we studied in fifth semester. The interview was of about 1 Hr 20 min and was extensively based on C language.  
			</div>
		</div>

		<div class="qna-section">
			<div class="question">Question  4:Now coming to the most dreaded part of every recruitment process, describe your interview(s)(include projects)</div>

			<div class="answer">Answer: 
			<ul style="margin-left:20px">
			<li>The long interview started with basics such as introduction with pannel and getting comfortable with the online environment. Firstly I was asked questions on Digital Signal Processing, ADCs and digital electronics followed by exhaustive programming language based  questions. The questions were related to structures, pointers, macros, memory layouts, logical operations, signal processing, multi-threading in Python. I was also asked few HR questions towards the end. So basically the whole interview was about being cool minded, focused and enjoying the process. You should not get frightened if you are not able to answer the questions thrown at you in the begining as you never know if the last few seconds of the interview might land you in your dream job. You never know the next second could bring you all the happiness.
			</div>
		</div>

		<div class="qna-section">
			<div class="question">Question 5:As you mentioned that projects played a vital role in your placement, what were the projects that you did?</div>

			<div class="answer">Answer:I have done around 5-6 significant projects. My favourites are the ABU-Robocon & an OpenCV based scanner which you could find in my GitHub repo. it is I guess world's first open source code to scan documents the same way CamScanner did. My contributions to dev of holonomic drives for Robocon bot proved to be my backbone for the placement processes. I have also spent a significant amount of time @ the Autonomous Systems Lab (ASL) in Mechanical Engg. Dept. There I worked on 3D-printers and a research project to control pneumatic cylinders which was then used by our team of Dr. Arun Udai & MTech students to develop a huge 6-DOF gaming platform. For the same project I also interned @ IIT-BHU in summers. Apart from these as a part of some awesome robotics competition we worked on stuffs like Augmented Reality etc. Self balancing robot or a mini-segway is another project which I'm very fond of. We used some innovative methods to make the segway perform fantastically. C based Tic-Tac-Toe & Matlab based speech recongnition were the first complete projects I did.
			</div>
		</div>

		<div class="qna-section">
			<div class="question">Question 6:How being a part of Robolution helped you in gaining an edge over other candidates?</div>
			<div class="answer">Answer:Working on the stuffs we do at Robolution has infused a great amount of patient, compassion in me and the fantastic hardware projects toned my understanding about programing in such a way that nothing else could have done. Being a part of Robolution, we have been into situations where few seconds could have made months of hardwork & sacrifice worthless. Every project which I've done at Robolution had some cool innovative modifications in it. Robolution has made us ready to face even the most difficult technical challenges. Club's solid alumni network has always helped our members to have an edge in almost any company. We are in regular contact with our seniors be it 2k8 batch or 2k16 and our seniors have always helped us with guidance both technical & non-technical. Also the opportunity @ Steradian was available to me just because of our alumni network. Apart from practical expeience, our members are well versed in course subjects too and we are proud to have one of the most capable students of the college as our "family members".

			</div>
		</div>
		<div class="qna-section" style="padding-bottom:20px;">
			<div class="question">Question 7:Any extra advice to your juniors for technical skills that they should develop?</div>

			<div class="answer">Answer: For folks of first year I will strongly suggest to explore as much as you can. Look in to all sorts of technical domains and take your time of an year or so and find out the domain which excites you the most. As you all are not in the college right now you are missing a lot in the fun part but you should not lag behind in the technical aspect as you will surey have all the "college fun" from the very first day you come to BIT but you won't ever get the huge amount of time you have now. When the college opens you will have a heavy workload and may be even weekends will be working days. You should talk with your seniors from k18 & k19 to get an understanding of what kind of projects to work on. Being in your homes you could very comfortably start with AI related stuffs but I will strongle suggest to talk with k18 & k19 and get some guidance. It would be great if you can work on Robot Operating System (ROS), AI based image processing, designing mechanical systems on SolidWorks, development of cool stuffs on Blender etc. You should get yourself comfortable with GIT. Join one of the many prestigious clubs of our college & rest will be history :)</div>
		</div>
	</div>
</section>

</section>
 <script src=""></script>
<%- include('footer') %>