<%- include('header') %>

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/k17/placement-img.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                    <h2 style="text-shadow: 0.5px 1.5px 1.5px #000000;" class="wow bounceInUp1"><strong style="color: orangered;">Placement</strong></h2>
                        <div class="bt-option">
                            <a href="/home">Home</a>
                            <a href="/placement" style="color: orangered;">Placements</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

 <section class="class-details-section spad">
 <p class="note">*click on the image to view full placement experience</p>
<div class="container plac-con">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
      <div class="our-team wow bounceInUp">
        <div class="picture">
          <a href="/ritwick"><img class="img-fluid" src="img/k17/team_4.jpg"></a>
        </div>
        <div class="team-content">
          <h3 class="name">Ritwick Sharma</h3>
          <h4 class="title">Cypress Semiconductors </h4>
        </div>
        <ul class="social">
          <li><a href="https://www.linkedin.com/in/ritwick-sharma-81b5a2168/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
      <div class="our-team wow bounceInUp">
        <div class="picture">
          <a href="/sarthak"><img class="img-fluid" src="img/k17/team_1.jpg">
        </div>
        <div class="team-content">
          <h3 class="name">Sarthak M.Das</h3>
          <h4 class="title">Infoedge</h4>
        </div>
        <ul class="social">
          <li><a href="https://www.linkedin.com/in/sarthak-m-d/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
      <div class="our-team wow bounceInUp">
        <div class="picture">
          <a href="/khemka"><img class="img-fluid" src="img/k17/team_2.jpg">
        </div>
        <div class="team-content">
          <h3 class="name">Sourabh Khemka</h3>
          <h4 class="title">Steradian Semiconductors</h4>
        </div>
        <ul class="social">
          <li><a href="https://www.linkedin.com/in/sourabh-khemka-b6894513a/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
   <div class="col-12 col-sm-6 col-md-6 col-lg-4">
      <div class="our-team wow bounceInUp">
        <div class="picture">
          <a href="/asi"><img class="img-fluid" src="img/k17/team_9.jpg"></a>
        </div>
        <div class="team-content">
          <h3 class="name">Abhishek Asi</h3>
          <h4 class="title">NXP Semiconductors</h4>
        </div>
        <ul class="social">
          <li><a href="https://www.linkedin.com/in/abhishek-asi/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
    </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
      <div class="our-team wow bounceInUp">
        <div class="picture">
          <a href="/shaswat"><img class="img-fluid" src="img/k17/team_3.jpg">
        </div>
        <div class="team-content">
          <h3 class="name">Shaswat Shaurya</h3>
          <h4 class="title">Paytm</h4>
        </div>
        <ul class="social">
          <li><a href="https://www.linkedin.com/in/shashwat-shaurya-b85936169/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
     <div class="col-12 col-sm-6 col-md-6 col-lg-4">
      <div class="our-team wow bounceInUp">
        <div class="picture">
          <a href="/dhruv"><img class="img-fluid" src="img/k17/team_15.jpg">
        </div>
        <div class="team-content">
          <h3 class="name">Dhruv Gupta</h3>
          <h4 class="title">Rightbot</h4>
        </div>
        <ul class="social">
          <li><a href="https://www.linkedin.com/in/dhruv-gupta-32021616a/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
   <div class="col-12 col-sm-6 col-md-6 col-lg-4">
      <div class="our-team wow bounceInUp">
        <div class="picture">
          <a href="/vivek"><img class="img-fluid" src="img/k17/team_14.jpg"></a>
        </div>
        <div class="team-content">
          <h3 class="name">Vivek Basant</h3>
          <h4 class="title">Logic Fruit</h4>
        </div>
        <ul class="social">
          <li><a href="https://www.linkedin.com/in/vivek-basant-09201817b/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
      <div class="our-team wow bounceInUp">
        <div class="picture">
          <a href="/sahil"><img class="img-fluid" src="img/k17/team_6.jpg">
        </div>
        <div class="team-content">
          <h3 class="name">Sahil Kumar</h3>
          <h4 class="title">Cognizant</h4>
        </div>
        <ul class="social">
          <li><a href="https://www.linkedin.com/in/sahilkumar25/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
      <div class="our-team wow bounceInUp">
        <div class="picture">
          <a href="/anurag"><img class="img-fluid" src="img/k17/team_10.jpg">
        </div>
        <div class="team-content" >
          <h3 class="name">Anurag Singh</h3>
          <h4 class="title">PWC</h4>
        </div>
        <ul class="social" >
          <li><a href="https://www.linkedin.com/in/anurag-kumar-bb7a22183/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-4">
      <div class="our-team wow bounceInUp">
        <div class="picture">
          <a href="/anirudh"><img class="img-fluid" src="img/k17/team_8.jpg">
        </div>
        <div class="team-content">
          <h3 class="name">N. Anirudh Raju</h3>
          <h4 class="title">Hero Motocorp</h4>
        </div>
        <ul class="social">
          <li><a href="https://www.linkedin.com/in/n-anirudh-raju-34a9671a7/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
    </div>
  </div>
</div>
</div>

<%- include('footer') %>