<%- include('header') %>

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/k17/placement-img.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <div class="bt-option">
                            <a href="/home">Home</a>
                            <a href="#" style="color: orangered;">Placements</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
 <section class="class-details-section spad">
<div class="container plac-con">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="our-team">
        <div class="picture">
          <a href="/ritwick"><img class="img-fluid" src="img/k17/team-4.jpg"></a>
        </div>
        <div class="team-content">
          <h3 class="name">Ritwick Sharma</h3>
          <h4 class="title">Infinieon</h4>
        </div>
        <ul class="social">
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="img/k17/team-1.jpg">
        </div>
        <div class="team-content">
          <h3 class="name">Sarthak M.Das</h3>
          <h4 class="title">Infoedge</h4>
        </div>
        <ul class="social">
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="img/k17/team-2.jpg">
        </div>
        <div class="team-content">
          <h3 class="name">Saurabh Khemka</h3>
          <h4 class="title">Steridian Semiconductors</h4>
        </div>
        <ul class="social">
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="img/k17/team-3.jpeg">
        </div>
        <div class="team-content">
          <h3 class="name">Shaswat Shaurya</h3>
          <h4 class="title">Paytm</h4>
        </div>
        <ul class="social">
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="img/k17/team-7.png">
        </div>
        <div class="team-content">
          <h3 class="name">Vivek Basant</h3>
          <h4 class="title">Logic Fruit</h4>
        </div>
        <ul class="social">
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="img/k17/team-6.png">
        </div>
        <div class="team-content">
          <h3 class="name">Sahil Kumar</h3>
          <h4 class="title">Cognizant</h4>
        </div>
        <ul class="social">
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="img/k17/team-8.jpg">
        </div>
        <div class="team-content">
          <h3 class="name">Anirudh Kumar</h3>
          <h4 class="title">Tata Steel</h4>
        </div>
        <ul class="social">
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="img/k17/team-9.jpeg">
        </div>
        <div class="team-content">
          <h3 class="name">Abhishek Asi</h3>
          <h4 class="title">NXP Semiconductors</h4>
        </div>
        <ul class="social">
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>

<%- include('footer') %>