<%- include('header') %>

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/project/cover-2.jpeg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                    <h2 style="text-shadow: 0.5px 1.5px 1.5px #000000;" class="wow bounceInUp1"><strong style="color: orangered;">Projects</strong></h2>
                        <div class="bt-option">
                            <a href="/home">Home</a>
                            <a href="/projects" style="color: orangered;">Projects</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Class Details Section Begin -->
    <section class="class-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="class-details-text" id="gtr">
                        <div class="cd-text">
                            <div class="cd-single-item">
                                <h3>OUR <strong style="color:orangered;">Projects</strong></h3>
                            </div>
                        </div>
                    </div>
                <br><br><br>
                 <div class="class-details-text" id="dip">
                        <div class="cd-text">
                            <div class="cd-single-item">
                                <h4 style="color: white;">Medical Snake</h4>
                            </div>
                        </div>
                        <div class="cd-trainer">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="cd-trainer-pic">
                                        <img src="img/project/snake.PNG" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="cd-trainer-text">
                                        <div class="trainer-title">
                                            <h4 style="text-shadow: 0.5px 1.5px 1.5px #000000;color: orangered;">Description</h4>
                                        <ul class="trainer-info wow bounceInLeft">
                                            <li>This project was aimed in increasing our control over the snake and in enabling the users to give more advanced controls.</li>
                                            <li>This project was done by Akash Atharva May-July 2016 as summer intern at CMU.he was responsible for re-development of controller of the MedRobotics Medical Snake using MATLAB</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
                <div class="class-details-text" id ="es">
                        <div class="cd-text">
                            <div class="Embedded Workshop">
                                <h4 style="color: white;">Automated Quadcopter</h4>
                            </div>
                        </div>
                        <div class="cd-trainer">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="cd-trainer-pic">
                                        <img src="img/project/2.jpeg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="cd-trainer-text">
                                        <div class="trainer-title">
                                            <h4 style="text-shadow: 0.5px 1.5px 1.5px #000000;color: orangered;">Description</h4>
                                        <ul class="trainer-info wow bounceInLeft">
                                            <li>How Cool would it be if we point at a direction and our drone could stand stable there for as long as one wants. Very useful in any sector, just name it.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
                    <div class="class-details-text" id="dip">
                        <div class="cd-text">
                            <div class="cd-single-item">
                                <h4 style="color: white;">Self Balancing Robot</h4>
                            </div>
                        </div>
                        <div class="cd-trainer">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="cd-trainer-pic">
                                        <img src="img/project/3.jpeg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="cd-trainer-text">
                                        <div class="trainer-title">
                                            <h4 style="text-shadow: 0.5px 1.5px 1.5px #000000;color: orangered;">Description</h4>
                                        <ul class="trainer-info wow bounceInLeft">
                                            <li>The bot adjusts its wheel position so that the inclination remains stable. When the bot starts to fall in one direction the wheels move so as to correct the inclination angle.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
                <div class="class-details-text" id="dip">
                        <div class="cd-text">
                            <div class="cd-single-item">
                                <h4 style="color: white;">3D printer</h4>
                            </div>
                        </div>
                        <div class="cd-trainer">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="cd-trainer-pic">
                                        <img src="img/project/3d-printer.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="cd-trainer-text">
                                        <div class="trainer-title">
                                            <h4 style="text-shadow: 0.5px 1.5px 1.5px #000000;color: orangered;">Description</h4>
                                        <ul class="trainer-info wow bounceInLeft">
                                            <li>3D printing or additive manufacturing is a process of making three dimensional solid objects from a digital file. The creation of a 3D printed object is achieved using additive processes. In an additive process an object is created by laying down successive layers of material until the object is created.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
                    <div class="class-details-text" id="ml">
                        <div class="cd-text">
                            <div class="cd-single-item">
                                <h4 style="color: white;">Segway</h4>
                            </div>
                        </div>
                        <div class="cd-trainer">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="cd-trainer-pic">
                                        <img src="img/project/1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="cd-trainer-text">
                                        <div class="trainer-title">
                                            <h4 style="text-shadow: 0.5px 1.5px 1.5px #000000;color: orangered;">Description</h4>
                                        <ul class="trainer-info wow bounceInLeft">
                                            <li>The idea is to replicate a Segway, first as a prototype and the to manufacture it in a much cheaper prices.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
                    <div class="class-details-text" id="ml">
                        <div class="cd-text">
                            <div class="cd-single-item">
                                <h4 style="color: white;">Micro Server Robotic Arm</h3>
                            </div>
                        </div>
                        <div class="cd-trainer">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="cd-trainer-pic">
                                        <img src="img/project/13.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="cd-trainer-text">
                                        <div class="trainer-title">
                                            <h4 style="text-shadow: 0.5px 1.5px 1.5px #000000;color: orangered;">Description</h4>
                                        <ul class="trainer-info wow bounceInLeft">
                                            <li>The project has a master and a slave arm. The slave arm repeats the steps performed by the master arm. Its large model can be used for industrial purpose to pick heavy loads.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
                    <div class="class-details-text" id="ml">
                        <div class="cd-text">
                            <div class="cd-single-item">
                                <h4 style="color: white;">Kuka Robot</h4>
                            </div>
                        </div>
                        <div class="cd-trainer">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="cd-trainer-pic">
                                        <img src="img/project/4.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="cd-trainer-text">
                                        <div class="trainer-title">
                                            <h4 style="text-shadow: 0.5px 1.5px 1.5px #000000;color: orangered;">Description</h4>
                                        <ul class="trainer-info wow bounceInLeft">
                                            <li>The idea is to study its control, therefore customize it to one's own requirement.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
                    <div class="class-details-text" id="ml">
                        <div class="cd-text">
                            <div class="cd-single-item">
                                <h4 style="color: white;">Single Inverted Pendulum</h3>
                            </div>
                        </div>
                        <div class="cd-trainer">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="cd-trainer-pic">
                                        <img src="img/project/12.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="cd-trainer-text">
                                        <div class="trainer-title">
                                            <h4 style="text-shadow: 0.5px 1.5px 1.5px #000000;color: orangered;">Description</h4>
                                        <ul class="trainer-info wow bounceInLeft">
                                            <li>The idea is to implement a closed loop feedback control on a highly unstable open loop system of single axis inverted pendulum.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            <br><br><br>
                <div class="class-details-text" id="ml">
                    <div class="cd-text">
                        <div class="cd-single-item">
                            <h4 style="color: white;">Soccer Playing Robot</h3>
                        </div>
                    </div>
                    <div class="cd-trainer">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="cd-trainer-pic">
                                    <img src="img/project/11.jpeg" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cd-trainer-text">
                                    <div class="trainer-title">
                                        <h4 style="text-shadow: 0.5px 1.5px 1.5px #000000;color: orangered;">Description</h4>
                                    <ul class="trainer-info wow bounceInLeft">
                                        <li>Two mobile controlled Bluetooth soccer playing robots have been designed. The idea is to control a robot by communication through smart phones.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br>
            <div class="class-details-text" id="ml">
                <div class="cd-text">
                    <div class="cd-single-item">
                        <h4 style="color: white;">Pole Climbing Robot</h3>
                    </div>
                </div>
                <div class="cd-trainer">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="cd-trainer-pic">
                                <img src="img/project/3.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="cd-trainer-text">
                                <div class="trainer-title">
                                    <h4 style="text-shadow: 0.5px 1.5px 1.5px #000000;color: orangered;">Description</h4>
                                <ul class="trainer-info wow bounceInLeft">
                                    <li>This robot is based on worm type mechanism and up and down motion is controlled by rack and pinion mechanism. It has varied applications. In disaster time it can be used to increase field of vision.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="class-details-text" id="ml">
                        <div class="cd-text">
                            <div class="cd-single-item">
                                <h4 style="color: white;">Spyder Robot</h4>
                            </div>
                        </div>
                        <div class="cd-trainer">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="cd-trainer-pic">
                                        <img src="img/project/7.jpeg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="cd-trainer-text">
                                        <div class="trainer-title">
                                            <h4 style="text-shadow: 0.5px 1.5px 1.5px #000000;color: orangered;">Description</h4>
                                        <ul class="trainer-info wow bounceInLeft">
                                            <li>Spider Bot is a bluetooth controlled quadrupped bot having 3 dof and capable of doing various movements with great stability.
                                            Used creep gait mechanism to provide higher stability in all type of terrains.
                                        Developed an app using MIT app inventor to perform various movements from the bot.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
            <div class="class-details-text" id="ml">
                        <div class="cd-text">
                            <div class="cd-single-item">
                                <h4 style="color: white;">COVID-19 Surveillance System</h4>
                            </div>
                        </div>
                        <div class="cd-trainer">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="cd-trainer-pic">
                                        <img src="img/project/9.jpeg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="cd-trainer-text">
                                        <div class="trainer-title">
                                            <h4 style="text-shadow: 0.5px 1.5px 1.5px #000000;color: orangered;">Description</h4>
                                        <ul class="trainer-info wow bounceInLeft">
                                            <li>Our problem is aimed at creating a way to spread awareness while monitoring people for wearing their masks. So, our idea is to use the CCTV cameras on Traffic signals to detect if a person driving two wheelers is wearing a mask or not, and if not, then we can first warn him to wear mask and if found again, then fine him using the QR Code, which has to be attached in each and every vehicle(and he would be fined if the QR Code is not attached to the vehicle)</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
               <div class="class-details-text" id="ml">
                        <div class="cd-text">
                            <div class="cd-single-item">
                                <h4 style="color: white;">Contruct-O-Bot</h4>
                            </div>
                        </div>
                        <div class="cd-trainer">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="cd-trainer-pic">
                                        <img src="img/project/10.jpeg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="cd-trainer-text">
                                        <div class="trainer-title">
                                            <h4 style="text-shadow: 0.5px 1.5px 1.5px #000000;color: orangered;">Description</h4>
                                        <ul class="trainer-info wow bounceInLeft">
                                            <li>Autonomous bot traverses the arena to pick and place blocks at different locations and uses path planning and line following algorithms to do so in minimum time by traversing through shortest path possible without any human interventions.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
            <div class="class-details-text" id="ml">
                        <div class="cd-text">
                            <div class="cd-single-item">
                                <h4 style="color: white;">Ball Follower Robot</h4>
                            </div>
                        </div>
                        <div class="cd-trainer">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="cd-trainer-pic">
                                        <img src="img/project/8.jpeg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="cd-trainer-text">
                                        <div class="trainer-title">
                                            <h4 style="text-shadow: 0.5px 1.5px 1.5px #000000;color: orangered;">Description</h4>
                                        <ul class="trainer-info wow bounceInLeft">
                                            <li>This bot segments out a specific coloured ball from frames captured via webcam using Image Processing Algorithms and Tracks the movement and distance of the ball in Real Time. This is done in Python which then sends corresponding instruction to the micro-controller via serial communication to make the bot follow the ball.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
            <div class="class-details-text" id="ml">
                <div class="cd-text">
                    <div class="cd-single-item">
                        <h4 style="color: white;">Bionic Arm</h3>
                    </div>
                </div>
                <div class="cd-trainer">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="cd-trainer-pic">
                                <img src="img/project/1.jpeg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="cd-trainer-text">
                                <div class="trainer-title">
                                    <h4 style="text-shadow: 0.5px 1.5px 1.5px #000000;color: orangered;">Description</h4>
                                <ul class="trainer-info wow bounceInLeft">
                                    <li>Bionic hand transform the lives and abilities of amputees around the world. From helping them perform simple tasks like tying their shoelaces, to giving them back their control and pride.
                                        Individual motors in each finger allow you to move the hand and grip in a natural, coordinated way. Proportional speed control gives you precision control over delicate tasks.
                                        Foldaway fingers provide natural looking movement and flex when you brush past people or bump into objects.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>
        </div>
    </section>
    <!-- Class Details Section End -->



<%- include('footer') %>