<%- include('header') %>
    <div id="particles-js"><canvas class="particles-js-canvas-el" width="452" height="608" style="width: 100%; height: 100%;"></canvas></div>
    <script src="js/particles.js"></script>
    <script src="js/app.js"></script>

<section class="class-details-section spad">
<section class="experience" style="opacity:1">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-5 col-sm-5">
				<div class="hero-img">
					<div class="picture-hero ">
						<img class="img-fluid" src="../public/img/k17/team_6.jpg">
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-5 col-sm-5">
				<div class="heading-exp">
					<h2 class="name" >Sahil Kumar </h2>
					<i><h2 class="company">Company: Cognizant</h2></i>
					<h2 class=" branch">Branch: Production Engineering (2021)</h2>
					<h2 class="profile-0">Profile Offered: SDE</h2>
					<div class="social-links">
						<h2 class="profile-0">LinkedIn: <a href="https://www.linkedin.com/in/sahilkumar25/"><i class="fa fa-linkedin-square " aria-hidden="true"></i></a></h2>
                       
					</div>
					
				</div>
			</div>
			
		</div>
	</div>
	<div class="hero-text-container">
		<div class="qna-section">
			<div class="question">Question 1: Tell us something about yourself.(include your placed co.)</div>

			<div class="answer">Answer: Hello everyone one I am Sahil Kumar.
			I did production engineering from BIT MESRA(2017-21). I have worked in different fields by doing internships at different roles like working on designing pressure parts of Boilers at L&T, Faridabad; study of Robotic arm(KUKA KR500) at IIT KGP and practice coding as of my personal interest. 
			Currently, I am placed in 2 companies: Cognizant(through campus placement) and TCS(off-campus: through TCS NQT). 
			</div>
		</div>

		<div class="qna-section">
			<div class="question">Question 2: How to prepare for the companies of that sector.</div>

			<div class="answer">Answer:
			I did different courses on Coursera to get a better grip in Python, DBMS, MySQL, HTML, Django framework for web application development and basics of ML and projects related to these skills.
			</div>
		</div>
		<div class="qna-section">
			<div class="question">Question 3: Describe the selection procedure of that company.</div>

				<div class="answer">Answer: 
			<b>Cognizant</b> follows 2 rounds of assessment for GenC profile:
			<ol style="margin-left:20px">

			<li> Apti+debugging and coding round</li>
			<li> Interview round where I was asked questions related to my department and 2-3 coding questions.</li>
			</ol?

			<b>TCS</b> follows 3 rounds of assessment for Digital Profile:
			<ol style="margin-left:20px">
			<li> Apti and coding round</li>
			<li> Another coding round</li>
			<li> Interview round with 3 interviewers</li></ol>
			</div>
		</div>

		<div class="qna-section">
			<div class="question">Question  4:Now coming to the most dreaded part of every recruitment process, describe your interview(s)(include projects)</div>

			<div class="answer">Answer: 
			<ul style="margin-left:20px"><li>In the TCS interview round, 3 interviewers were sitting to ask me questions from DBMS, SQL queries and the most important part which is questions related to my project which includes a brief description of the project, problems faced while doing the project, why you chose this project. I was also asked why do I want to join an IT company in spite of being a production engineer and an overview of the 7th-semester project.</li>

			<li>In the Cognizant interview round, I was asked 5-6 questions related to my department and 2 coding questions and was asked to describe my project.</li>
			</div>
		</div>


		<div class="qna-section">
			<div class="question">Question 5:As you mentioned that projects played a vital role in your placement, what were the projects that you did?</div>

			<div class="answer">Answer:I developed a Web-Scrapper for company-related articles and leadership details to analyze over multiple keywords.

			
			</div>
		</div>

		<div class="qna-section">
			<div class="question">Question 6:How being a part of Robolution helped you in gaining an edge over other candidates?</div>
			<div class="answer">Answer:
			Robolution has helped me build a different level of confidence by working as a mechanical sub-team member with a team of about 30 members with different roles for our common goal: ROBOCON and especially procuring an internship at FSW Lab in IIT KGP.

			</div>
		</div>
		<div class="qna-section" style="padding-bottom:20px;">
			<div class="question">Question 7:Any extra advice to your juniors for technical skills that they should develop?</div>

			<div class="answer">Answer: 
			Problem-solving skills, aptitude and most importantly Soft-skills
</div>
		</div>
	</div>
</section>

</section>
 <script src=""></script>
<%- include('footer') %>