<%- include('header') %>
    <div id="particles-js"><canvas class="particles-js-canvas-el" width="452" height="608" style="width: 100%; height: 100%;"></canvas></div>
    <script src="js/particles.js"></script>
    <script src="js/app.js"></script>

<section class="class-details-section spad">
<section class="experience" style="opacity:1">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-5 col-sm-5">
				<div class="hero-img">
					<div class="picture-hero ">
						<img class="img-fluid" src="../public/img/k17/team_1.jpg">
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-5 col-sm-5">
				<div class="heading-exp">
					<h2 class="name">Sarthak M. Das</h2>
					<i><h2 class="company">Company: Infoedge</h2></i>
					<h2 class=" branch">Branch: Information Technology (2021)</h2>
					<h2 class="profile-0">Profile Offered:SDE</h2>
					<div class="social-links">
						<h2 class="profile-0">LinkedIn: <a href="https://www.linkedin.com/in/sarthak-m-d/"><i class="fa fa-linkedin-square " aria-hidden="true"></i></a></h2>
                       
					</div>
					
				</div>
			</div>
			
		</div>
	</div>
	<div class="hero-text-container">
		<div class="qna-section">
			<div class="question">Question 1: Tell us something about yourself.(include your placed co.)</div>

			<div class="answer">Answer:Hey! I am Sarthak M. Das. I am in my fourth year and interning at Infoedge(Naukri vertical). My college journey started in 2017 when I was enrolled here in the Electronics and Communicating Branch. I idea of knowing how computers work for the top-level coding all the way down to how it is perceived by the circuits always intrigued me. This fascination took me to the robotics workshops in my first year and I ended up doing circuit-level coding (Embedded C). I was selected as a Winter Intern at Robolution and I build my own maze Solving Robot:). In my second year, I got my branch changed to Information Technology. At this point, I was selected into the Robolution core team and started working team pratyunmis( official Robocon Team of BIT Mesra) on the 2017 Robocon Robot which we presented at our annual robotics exhibition. I did college at day time and robotics in the night. There have been days when I went to college directly from our club Arena without any sleep. Those are some of the most memorable moment of my college life. In the second year summer, I did my Research Internship at IIT Kharagpur with other Robolution Folks. I ended up with two research papers in renowned journals and had an opportunity to work on an industrial level problem. Apart from all the technical stuff, Robolution has also taught me about leadership, man and time-management. The bond that we share with our seniors, the friends that we make, the opportunity to do practical engineering stuff(outside college laboratories) is all unique and something that only we have gratified.  </div>
		</div>

		<div class="qna-section">
			<div class="question">Question 2: How to prepare for the companies of that sector?</div>

			<div class="answer">Answer:Well, for IT sector jobs, the major focus remains on the Data Structure and Algorithm portions. Try to learn and implement new algorithms. Websites like Geek for Geeks, Hacker Earth, TopCoder have some great articles that you can read. Once you have gone through the basic algorithms start practising questions on Leetcode or Interview Bit. The set of coding questions that are asked in interviews is pretty exhaustive and you don't have to be a Competitive programmer to crack these interviews (if u enjoy doing CP then its always good). Keep your basic concepts of core Computer Science subjects like Operating Systems and DBMS clear. Oops is often asked in-depth and it may become tricky. MySql queries are also asked often.   
			</div>
		</div>


		<div class="qna-section">
			<div class="question">Question  3: Describe the selection procedure of that company including your interview(s)</div>

			<div class="answer">Answer: 
			
			 <ul style="margin-left:20px">

			 I interviewed for 5 companies ( Atlassian, Wells Fargo, Amazon, Walmart and Infoedge) and finally got selected for Inforedge as Software Development Engineer. I will tell you that patience is key in these processes. It is a lot about luck. You need to keep your calm and you will certainly end up landing a good job. My interview for Infoedge included 6 rounds:
			 <ul style="margin-left:20px">
			<li> Apti+Coding Round: A bunch of Aptitudes and CS technical question were asked in this round. A total of 12 people were selected in this round.
			<li>First Interview Round: I was asked general questions about the working of the internet and how Websites are hosted. Then a programming question was asked(easy level). In the end, the interviewer asked me to design an algorithm to search text from a large memory file that couldn't be loaded into the RAM all at once. It was more like a discussion where I presented a different solution at every set and the interviewer asked me questions related to its implementation and complexity. This round took about 1 hr. In the end, the interviewer was satisfied with my answers.</li>
			<li>Second Interview Round: This was a complete coding Round where I was given 3 coding problems and asked to implement working codes.</li>
			<li>Third Interview Round: In this round, my interviewer started with SQL queries. Then he asked me about DBMS concepts like normalization and asked me to explain using examples.
			<li>Fourth Interview Round: I was asked about my projects and was asked to do the System Design of one of my projects. Core conceptual Questions related to the technologies that I had used in my projects were asked.</li>
			<li>Fifth Interview Round(HR): This was a quick 15 minutes round asking me about my interests and why I wanted to work At Infoedge.</li></ul>
			In the end, 5 people were hired.
			</div>
		</div>

		<div class="qna-section">
			<div class="question">Question 4:As you mentioned that projects played a vital role in your placement, what were the projects that you did?</div>

			<div class="answer">Answer:Projects are a vital part of the interview process as it gives you something to talk about and show the interviewer that u can learn and implement new technologies. Obviously, being in a club like Robolution give us a greater advantage in this regards as we are always engaged in practical projects. In my interview, I mostly presented my research project on Quality management system for a CNC machine (using ML Algorithms) and a Web App that I was working on for a software startup. I was asked to build the system diagrams of my web project. they asked me about the technologies that I had used. Why I had opted for those particular technologies and not other alternatives(like why node and why, not java, why MongoDB and why, not MySql). The asked the advantage of different technologies and languages(like why do we prefer using python for data science and why do we use java for development)
			</div>
		</div>

		<div class="qna-section">
			<div class="question">Question 6:How being a part of Robolution helped you in gaining an edge over other candidates?</div>
			<div class="answer">Answer:Obviously, being at Robolution opened a door for me to work and interact with some wonderful technologies, to test the textbook knowledge on practical turf. Academically speaking, being an ECE student and working on different boards such as Arduino, Raspy, NodeMCU helped me unveil and see for myself the actual power of these things. Team Pratyunmis(of Robolution) takes part in ABU-ROBOCON. In this competition a new problem statement is thrown at the participants every year. So, it requires a lot of research, hard work, smart work and perseverence to come up with a design. Build it from scratch. See it fail. Make corrections. Improve. Succeed. It is a journey in itself. And I hope every member of the team enjoys it. The sleepless nights, teamwork, disagreements, parties all become a part of the memory that one would like to take away with him/her moving out of the college. A lot of questions relating to the work I had done in Robolution was asked to me in my interviews and they were quite impressed with them. The challenges of the competition helped me to grow. Being in Robolution, I was surrounded in an interesting environment. It taught me to handle tough situations, bring about the best from the available resources, to be innovative. It gave me an identity from the very start of the college. Above all it introduced me to wonderfull people and helped me make cherishable relationships for a life time. <span style="color:orangered">#RobolutionForever</span>.

			</div>
		</div>
		<div class="qna-section" style="padding-bottom:20px;">
			<div class="question">Question 7:Any extra advice to your juniors for technical skills that they should develop?</div>

			<div class="answer">Answer:  The most important thing is to find your area of interest. I feel that the first-year students must go to all the workshops and should be ebullient for every clubs' activities. They will help you find your interests. Singing, playing instruments, reading novels, doing sports are as important as our academics and technical knowledge. They help our innovation going which is highly valued in any industry. At the end of the day, engineering is a highly diverse and interdisciplinary field. An ECE student can be interested in mechanical stuff and a production student may be inclined towards coding. You need to find your niche and you will make your own way ;). All the best.</div>
		</div>
	</div>
</section>

</section>
 <script src=""></script>
<%- include('footer') %>