<%- include('header') %>
    <div id="particles-js"><canvas class="particles-js-canvas-el" width="452" height="608" style="width: 100%; height: 100%;"></canvas></div>
    <script src="js/particles.js"></script>
    <script src="js/app.js"></script>

<section class="class-details-section spad">
<section class="experience" style="opacity:1">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-5 col-sm-5">
				<div class="hero-img">
					<div class="picture-hero ">
						<img class="img-fluid" src="../public/img/k17/team_3.jpg">
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-5 col-sm-5">
				<div class="heading-exp">
					<h2 class="name">Shashwat Shaurya</h2>
					<i><h2 class="company">Company: Paytm</h2></i>
					<h2 class=" branch">Branch: ECE (2021)</h2>
					<h2 class="profile-0">Profile Offered:SDE</h2>
					<div class="social-links">
						<h2 class="profile-0">LinkedIn: <a href="https://www.linkedin.com/in/shashwat-shaurya-b85936169/"><i class="fa fa-linkedin-square " aria-hidden="true"></i></a></h2>
                       
					</div>
					
				</div>
			</div>
			
		</div>
	</div>
	<div class="hero-text-container">
		<div class="qna-section">
			<div class="question">Question 1: Tell us something about yourself.(include your placed co.)</div>

			<div class="answer">Answer:My name is Shashwat Shaurya. I used to be a college student before someone ate a bat(or pangolin). Currently, I am interning at Paytm. My roller-coster started at BIT Mesra in 2017 as a student of Chemical(Plastic&Polymer) branch. I believed in myself. I studied well and managed to change my branch to Electronics and Communication Engineering (which most of my friends said I shouldn't have). I had an interest in robotics and in the first year itself I was included in Robolution as an intern. This gave me an identity of being cool and nerdy at the same time. Towards the second year, I had developed interest in Web Development too and hence started exploring it. But my journey at Robolution and Team Pratyunmis continued. I was inducted into the team as a mechanical subtem member but post my branch change I started to work with embedded subteam as well. I tried to keep a balance between my studies, responsibilities(here at Robolution) and my friends. This often reduced my sleeping hours- for this I have been referred to as a zombie. I also used to watch a lot of TV Series- I often forget some while counting. But I am happy that I was able to fill in every second of my life at BIT with some memory.</div>
		</div>

		<div class="qna-section">
			<div class="question">Question 2: How to prepare for the companies of that sector?</div>

			<div class="answer">Answer:Start by improving on concepts of data structures and algorithms. The websites such as geeks for geeks, hackerrank, hackerearth can give a good start. As sections and questions in each section are well defined there. Take part in coding competitions. Remember to discuss solutions with your friends. At later stages of the preparation, I tried 30 days challenge on leetcode and the practice sets on interviewbit. The product based companies such as microsoft, amazon, samsung, paytm etc. do not demand a hardcore knowledge of CP as the constraints are a bit eased out. Geeks for geeks can be used to prepare for specific companies. OS, DBMS and OOPS should not sidelined. I started preparing for them one month ahead of the placement season and this much time seemed ample to me. One should start working on projects in the second year itself as they play a vital role in the interviews. Projects might be on ML, Web Development, Blockchain, Android Development etc.
			</div>
		</div>

		<div class="qna-section">
			<div class="question">Question 3: Describe the selection procedure of that company.</div>

				<div class="answer">Answer: There were five rounds.
				<ul style="margin-left:20px;">
				<li>First round- This was the usual coding round. 3 questions 70 minutes. The first two questions were of Dynamic Programming. The third question was a complex graph question. They had their own platform for the coding round. I solved all the three.</li>
				<li>Second round- This was a Pre-placement talk round before the interviews began. This was a not a disqualification round.</li>
				<li>The third and fourth rounds were technical interview rounds.</li> 
				<li>The fifth round was HR round. Every round was an elimination round. Everything was online due to the covid situation. Interviews were held on google meet.</li>
				</ul>
			</div>
		</div>

		<div class="qna-section">
			<div class="question">Question  4:Now coming to the most dreaded part of every recruitment process, describe your interview(s)(include projects)</div>

			<div class="answer">Answer: 
			<ul style="margin-left:20px">
			 I gave interviews for 2 companies- Oracle and Paytm.
			 <ul style="margin-left:20px">

			<li><b>Oracle</b>- I was well prepared for the interview but sadly I neglected some external factors. On that day my internet was not stable so, my interviews couldn't even start. They left me with a false hope of rescheduling it to a suitable day. But that wasn't going to happen, I knew it. So, I learnt that managing external factors was as important as preparing for interviews. So, I took a stable connection and fixed a place in my home where I would be taking further interviews.
			
			<li><b>Paytm</b>- The first interview round started just after the ppt. This was a technical interview round. I was calm. I was asked to introduce myself. The interviewer was friendly, he asked me about the places I had travelled to, upon mentioning that I have travelled a lot. The first "technical" question was about linked list- to visit nth node from the end. I discussed about the different approaches starting from the most basic one (linear time), then slowly moved on to two-pointer approach. He was satisfied with my solution and didn't ask me to code. Then he asked me questions on layers of OSI model, OS (threads and process) and OOP concepts. He was pretty much impressed by my projects. He asked me to show the code and asked few questions on that. The last question was based on stream of data and ways of storing them. It was more of a discussion of the different approaches that I had suggested. I asked him for feedback. He said I was pretty good and was confident about what I said. I was selected for further rounds.
			The inteviewer in the next round was much more serious and strsight-forward. After introducing myself to him, he straightaway jumped onto asking questions. The questions were focused on Binary Trees and Binary Search Trees. I got confused with some of them and might have answered incorrectly. I got a bit nervous. The next question was to form the next greater number from the digits of the given number. I had done this so I was confident. I didn't want to show him that I knew the answer so I did not go for the solution straightaway. I asked some questions to clarify the input format and the desired results. Then I discussed with him the corner cases. And gradually moved on towards the solution. He asked me if I was confident about the approach and solution and I replied with a Yes. He didn't ask me to code it. The last coding question was again on Trees as well- he asked me to print the left view of the tree. He directly asked me to code. I did that then he suggested some improvements. Then looking at my projects he asked me about sockets- their need, working. I asked him for feedback. He said something. I was selected for the next round (I was not confident about it but I got through).
			The next round was an HR round. As usual it started with me introducing with myself. This time I added some lines about my hobbies and my nature as a person. The took interest in my internships and projects and the first question he hurled at me was based on my internship. He asked my to explain what I did in my internship, the difficulties I faced, how I overcame them. He asked me about the ABU-ROBOCON competition told to explain the problem statement of the previous year. He asked me about my role as a member and as a vice-captain in the team. Then he gave me a hypothetical role of a warehouse manager and asked me to explain different instruments (both technological and managerial) I would put to use. He threw at me different scenarios(such as diminishing quantity of a product in the warehouse, disagreement between workers) and saw how I would handle them. He asked me about the approach I would take to build a system that allows only a  certain number of requests per minute and after that threshold is reached it rejects further requests for that minute. This also went well. And I finally got selected.
			</div>
		</div>

		<div class="qna-section">
			<div class="question">Question 5:As you mentioned that projects played a vital role in your placement, what were the projects that you did?</div>

			<div class="answer">Answer:My projects were on Web Development- MERN techstack. I had done a QrCode based over the web file transfer application. A chat application. I had developed website for IEEE- student's chapter BIT, Mesra. I had built a gesture operated warehouse forklift robot. The other projects that I did with Robolution were team efforts.
			I also got an oppotunity to intern at IIT Delhi on SLAM of Autonomous Vehicle for their DLive project. There I worked with lot of modern hardware and technologies including Lidars, Jetson GPU boards, ROS. I got to learn a lot. There I even volunteered in organizing the nationals of ABU-ROBOCON as we knew the knooks and crooks of the play. Overall it was a great experience.
			</div>
		</div>

		<div class="qna-section">
			<div class="question">Question 6:How being a part of Robolution helped you in gaining an edge over other candidates?</div>
			<div class="answer">Answer:Obviously, being at Robolution opened a door for me to work and interact with some wonderful technologies, to test the textbook knowledge on practical turf. Academically speaking, being an ECE student and working on different boards such as Arduino, Raspy, NodeMCU helped me unveil and see for myself the actual power of these things. Team Pratyunmis(of Robolution) takes part in ABU-ROBOCON. In this competition a new problem statement is thrown at the participants every year. So, it requires a lot of research, hard work, smart work and perseverence to come up with a design. Build it from scratch. See it fail. Make corrections. Improve. Succeed. It is a journey in itself. And I hope every member of the team enjoys it. The sleepless nights, teamwork, disagreements, parties all become a part of the memory that one would like to take away with him/her moving out of the college. A lot of questions relating to the work I had done in Robolution was asked to me in my interviews and they were quite impressed with them. The challenges of the competition helped me to grow. Being in Robolution, I was surrounded in an interesting environment. It taught me to handle tough situations, bring about the best from the available resources, to be innovative. It gave me an identity from the very start of the college. Above all it introduced me to wonderfull people and helped me make cherishable relationships for a life time. <span style="color:orangered">#RobolutionForever</span>.

			</div>
		</div>
		<div class="qna-section" style="padding-bottom:20px;">
			<div class="question">Question 7:Any extra advice to your juniors for technical skills that they should develop?</div>

			<div class="answer">Answer:  It all depends on the field you are preparing for. If you are preparing for core then go for pcb designing. If you are into full-stack web development then try to learn more about deployment (like secure keys-SSL) as well and don't ignore React and other front-end development stuff. But these are the skills that you will eventually develop. For me the most important skill that one sould develop are soft skills. You should know how to introduce yourself. You will face both success and failure in your life. You should learn to treat them equally. Stay calm and focused. Success might take time but it will come to you if you work for it relentlessly. Improve yourself. Learn something new everyday. Make friends. Value them. Go out with them. Finally, all the best to anyone reading this.</div>
		</div>
	</div>
</section>

</section>
 <script src=""></script>
<%- include('footer') %>