<%- include('header') %>


    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hs-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="img/5.jpeg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6">
                            <div class="hi-text">
                                <span></span>
                                <h1><strong>K18, K17 & K16</strong></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hs-item set-bg" data-setbg="img/home2.jpeg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6">
                            <div class="hi-text">
                                <h1><strong>K17, K16 & K15</strong> </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="hs-item set-bg" data-setbg="img/4.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6">
                            <div class="hi-text">
                                <span></span>
                                <h1><strong>K15, K16 & K17</strong></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hs-item set-bg" data-setbg="img/2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6">
                            <div class="hi-text">
                                <span></span>
                                <h1><strong>K15, K16 & K17</strong></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hs-item set-bg" data-setbg="img/1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6">
                            <div class="hi-text">
                                <span></span>
                                <h1><strong>K15, K16 & K17</strong></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </section>
    <!-- Hero Section End -->
    <!-- Team k18 -->
    <section class="team-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="team-title">
                        <div class="section-title">
                            <span>Introduction</span>
                            <h2>TO K18</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="ts-slider owl-carousel">
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k18/1.jpeg">
                            <div class="ts_text">
                                <h4>Shivani Bhardwaj</h4>
                                <span>Mechanical SUBTEAM</span>
                            </div>
                        </div>
                    </div><div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k18/2.jpg">
                            <div class="ts_text">
                                <h4>Utkarsh Srivastav</h4>
                                <span>EMBEDDED SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k18/4.jpg">
                            <div class="ts_text">
                                <h4>Ritam Upadhyay</h4>
                                <span>EMBEDDED SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k18/3.jpg">
                            <div class="ts_text">
                                <h4>Saurabh Kumar</h4>
                                <span>MECHANICAL SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k18/5.jpeg">
                            <div class="ts_text">
                                <h4>Rahul Yadav</h4>
                                <span>MECHANICAL SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k18/6.jpeg">
                            <div class="ts_text">
                                <h4>Mukul Singh</h4>
                                <span>EMBEDDED SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k18/7.jpeg">
                            <div class="ts_text">
                                <h4>Madwesh Anand</h4>
                                <span>MECHANICAL SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;"  data-setbg="img/k18/8.jpg">
                            <div class="ts_text">
                                <h4>Rishav Kumar</h4>
                                <span>MECHANICAL SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;"  data-setbg="img/k18/9.jpeg">
                            <div class="ts_text">
                                <h4>Ritik Garg</h4>
                                <span>AI SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k18/.jpeg">
                            <div class="ts_text">
                                <h4>Aryan Yashshvi</h4>
                                <span>MECHANICAL SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k18/.jpg">
                            <div class="ts_text">
                                <h4>Kumar Samaksh</h4>
                                <span>EMBEDDED SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k18/.jpg">
                            <div class="ts_text">
                                <h4>Satyam Kumar</h4>
                                <span>MECHANICAL SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team k17 -->
    <section class="team-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="team-title">
                        <div class="section-title">
                            <span>Introduction</span>
                            <h2>TO K17</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="ts-slider owl-carousel">
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k17/team-1.jpg">
                            <div class="ts_text">
                                <h4>Sarthak M. Das</h4>
                                <span>EMBEDDED & AI SUBTEAM</span>
                            </div>
                        </div>
                    </div><div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k17/team-11.jpg">
                            <div class="ts_text">
                                <h4>Dhruv Gupta</h4>
                                <span>EMBEDDED SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k17/team-2.jpg">
                            <div class="ts_text">
                                <h4>Saurabh Khemka</h4>
                                <span>EMBEDDED SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k17/team-3.jpeg">
                            <div class="ts_text">
                                <h4>Shashwat Shaurya</h4>
                                <span>MECHANICAL SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k17/team-4.jpg">
                            <div class="ts_text">
                                <h4>Ritwick Sharma</h4>
                                <span>EMBEDDED SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k17/team-5.jpeg">
                            <div class="ts_text">
                                <h4>Ashok Priyadarshi</h4>
                                <span>AI SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k17/team-6.png">
                            <div class="ts_text">
                                <h4>Sahil Kumar</h4>
                                <span>MECHANICAL SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;"  data-setbg="img/k17/team-7.png">
                            <div class="ts_text">
                                <h4>Vivek Basant</h4>
                                <span>EMBEDDED SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;"  data-setbg="img/k17/team-8.jpg">
                            <div class="ts_text">
                                <h4>Anirudh Raju</h4>
                                <span>MECHANICAL SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k17/team-9.jpeg">
                            <div class="ts_text">
                                <h4>Abhishek Asi</h4>
                                <span>EMBEDDED SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k17/team-10.png">
                            <div class="ts_text">
                                <h4>Anurag Kumar</h4>
                                <span>MECHANICAL SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team 16 -->
    <section class="team-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="team-title">
                        <div class="section-title">
                            <span>Introduction</span>
                            <h2>TO K16</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="ts-slider owl-carousel">
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k16/1.jpg">
                            <div class="ts_text">
                                <h4>Abhinav Gupta</h4>
                                <span>EMBEDDED & AI SUBTEAM</span>
                            </div>
                        </div>
                    </div><div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k16/2.jpg">
                            <div class="ts_text">
                                <h4>Abhinit Saurabh</h4>
                                <span>EMBEDDED SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k16/3.jpeg">
                            <div class="ts_text">
                                <h4>Akashleena Sarkar</h4>
                                <span>EMBEDDED SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k16/4.jpg">
                            <div class="ts_text">
                                <h4>Ankur Ojha</h4>
                                <span>EMBEDDED SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k16/5.jpeg">
                            <div class="ts_text">
                                <h4>Isha Mishra</h4>
                                <span>EMBEDDED SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k16/7.jpg">
                            <div class="ts_text">
                                <h4>Ojas Suryavanshi</h4>
                                <span>MECHANICAL SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k16/8.jpg">
                            <div class="ts_text">
                                <h4>Pranav Raj</h4>
                                <span>EMBEDDED SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;"  data-setbg="img/k16/6.jpg">
                            <div class="ts_text">
                                <h4>Mohit Bihani</h4>
                                <span>EMBEDDED SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;"  data-setbg="img/k16/9.jpg">
                            <div class="ts_text">
                                <h4>Rishabh Singh</h4>
                                <span>MECHANICAL SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k16/10.jpg">
                            <div class="ts_text">
                                <h4>Shubham Banarjee</h4>
                                <span>MECHANICAL SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k16/11.jpg">
                            <div class="ts_text">
                                <h4>Soumen Das</h4>
                                <span>EMBEDDED SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k16/12.jpeg">
                            <div class="ts_text">
                                <h4>Sristi</h4>
                                <span>EMBEDDED SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team k15 -->
    <section class="team-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="team-title">
                        <div class="section-title">
                            <span>Introduction</span>
                            <h2>TO K15</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="ts-slider owl-carousel">
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k17/team-1.jpg">
                            <div class="ts_text">
                                <h4>Sarthak M. Das</h4>
                                <span>EMBEDDED & AI SUBTEAM</span>
                            </div>
                        </div>
                    </div><div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k17/team-11.jpg">
                            <div class="ts_text">
                                <h4>Dhruv Gupta</h4>
                                <span>MECHANICAL SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k17/team-2.jpg">
                            <div class="ts_text">
                                <h4>Saurabh Khemka</h4>
                                <span>EMBEDDED SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k17/team-3.jpeg">
                            <div class="ts_text">
                                <h4>Shashwat Shaurya</h4>
                                <span>MECHANICAL SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k17/team-4.jpg">
                            <div class="ts_text">
                                <h4>Ritwick Sharma</h4>
                                <span>EMBEDDED SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k17/team-5.jpeg">
                            <div class="ts_text">
                                <h4>Ashok Priyadarshi</h4>
                                <span>AI SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k17/team-6.png">
                            <div class="ts_text">
                                <h4>Sahil Kumar</h4>
                                <span>MECHANICAL SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;"  data-setbg="img/k17/team-7.png">
                            <div class="ts_text">
                                <h4>Vivek Basant</h4>
                                <span>EMBEDDED SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;"  data-setbg="img/k17/team-8.jpg">
                            <div class="ts_text">
                                <h4>Anirudh Raju</h4>
                                <span>MECHANICAL SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k17/team-9.jpeg">
                            <div class="ts_text">
                                <h4>Abhishek Asi</h4>
                                <span>EMBEDDED SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" style="height: 350px;" data-setbg="img/k17/team-10.png">
                            <div class="ts_text">
                                <h4>Anurag Kumar</h4>
                                <span>MECHANICAL SUBTEAM</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Section End -->

    



<%- include('footer') %>