<%- include('header') %>
    <div id="particles-js"><canvas class="particles-js-canvas-el" width="452" height="608" style="width: 100%; height: 100%;"></canvas></div>
    <script src="js/particles.js"></script>
    <script src="js/app.js"></script>

<section class="class-details-section spad">
<section class="experience" style="opacity:1">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-5 col-sm-5">
				<div class="hero-img">
					<div class="picture-hero ">
						<img class="img-fluid" src="../public/img/k17/team_14.jpg">
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-5 col-sm-5">
				<div class="heading-exp">
					<h2 class="name">Vivek Basant</h2>
					<i><h2 class="company">Company: Logic Fruit Technologies</h2></i>
					<h2 class=" branch">Branch: ECE (2021)</h2>
					<h2 class="profile-0">Profile Offered:Application engineer</h2>
					<div class="social-links">
						<h2 class="profile-0">LinkedIn: <a href="https://www.linkedin.com/in/vivek-basant-09201817b"><i class="fa fa-linkedin-square " aria-hidden="true"></i></a></h2>
                       
					</div>
					
				</div>
			</div>
			
		</div>
	</div>
	<div class="hero-text-container">
		<div class="qna-section">
			<div class="question">Question 1: Tell us something about yourself.(include your placed co.)</div>

			<div class="answer">Answer:I am Vivek Basant from ECE branch. My interest are related to embedded systems and Robotics. I am very much fond of programming the hardware. I was preparing for the core electronics company. Finally I got placed in one of them. My company name is <b>Logic Fruit Technologies</b> and profile is related to RTL coding in VHDL at FPGA department.</div>
		</div>

		<div class="qna-section">
			<div class="question">Question 2: How to prepare for the companies of that sector?</div>

			<div class="answer">Answer:Through my experience during the placement period, I came to know that one should have a minimum Cgpa of 8, if you are preparing for core electronics company. But having Cgpa less than that and really interested you will find a way. Now if you are  preparing for Digital Domain then you have to learn Digital Electronics, verilog, Static timing analysis and FIFO depth calculation
			</div>
		</div>

		<div class="qna-section">
			<div class="question">Question 3: Describe the selection procedure of that company.</div>

				<div class="answer">Answer:  There were total of 5 rounds.
				<ol style="margin-left:20px;">
				<li> Intial shortlisting -12 people were shortlisted based on resume or something else</li>
				<li>
				<b>Online Test -</b>
				<ul style="margin-left:20px;">

				<li>APTITUDE : 20 questions related to probability, time and work, profit and loss, problems on train, simple and compound interest, problems on ages.</li>
				
				<li>ANALYTICAL REASONING : 20 questions</li>
				<li>ELECTRONICS SUBJECTS- 30 questions related to diode, MOSFET, BJT etc</li>
				<li>C PROGRAMMING : 20 questions to find the output of the code</li>
				<li>DIGITAL ELECTRONICS - 10 questions where from verilog and basics digital electronics questions for that solve previous year gate questions</li></ul></li>

				Time : 2 hrs.
				Each round is elimination round

				<li> <b>Technical interview-1 :</b>
				<ul style="margin-left:20px;">
				<li> Tell me about yourself then any projects in digital domain. I told them two simple projects one is related to verilog i.eTicket Vending Machine and another one was counter that we made for 15th August Robotics Exhibition organized by Team Robolution to count down the event before 10 days.</li>
				<li>Flip-flop with nand gate, difference between mealy-moore machine, state encoding Techniques</li>
				<li> False path and muti-cycle path</li>
				<li>Design asynchronous reset in hardware</li>
				<li>Stream of binary number is coming, the task is to tell the number formed so far is divisible by 3 or not</li></ul></li>

				<li> <b>Technical Interview-2 :</b>
				<ul style="margin-left:20px;">
				<li> D flip flop using 2:1 multiplexer</li>
				<li> difference between Flip-flop and latch</li>
				<li> Design a digital circuit to solve x + 2x + 9x </li>
				without using multiplier , only one adder and in one clock cycle where x is 4 bit binary number.</li>
				<li>frequency/2 using D flip flop</li>
				<li>f/5 with 50% duty cycle</li>
				<li>Edge detector- Signal is passing through D flip flop, task is to detect falling edge and make the output high till one clock period</li>
				<li>Puzzle - Bridge and torch problem were asked</li></ul></li>

				<li> <b>Technical + HR :</b>
				<ul style="margin-left:20px;">
				<li> Blocking and Non Blocking assignment</li> 
				<li> Which one is used in sequencial circuit</li>
				<li> Questions related to FIFO: writing and reading frequency were given with duty cycle for write and read enable and asked to tell which one is faster.</li>
				<li> Then FIFO depth was known to me and asked to tell at what time depth is FULL and how much data is written in that duration.</li>
				<li> Hr questions where asked like how much hardworking you are? Are you free for next 6 month? Will you be able relocate to gurgaon.</li></li></ol>
			</div>
		</div>

		<div class="qna-section">
			<div class="question">Question  4:Now coming to the most dreaded part of every recruitment process, describe your interview(s)(include projects)</div>

			<div class="answer">Answer:  Every interviewer focus on your resume first and most of the duration of the interview got engaged in discussing projects. So projects played a most important role.
			My projects were Gesture controlled bot with I2C library implementation, Ticket vending Machine and automatic irrigation system
			I did an internship in IIT kharagpur. Topic: Autonomous navigation and path planning in indoor environment. In this we managed to publish a paper , which provide a positive edge during my interview.
			</div>
		</div>

		<div class="qna-section">
			<div class="question">Question 5:As you mentioned that projects played a vital role in your placement, what were the projects that you did?</div>

			<div class="answer">Answer: The project that I did during my internship
			i.e <b>Autonomous navigation and path planning in indoor environment</b> helped me in most of the interview. In this project following things is done like  Object Detection - Deep learning architecture : SSD Mobilenetv1, Disparity map generation through stereo camera,
			Range estimation of object in front of camera, Environment mapping and path planning using A* algorithm. As a part of the Team pratyunmis, I worked for the Robocon 18 just after my internship at Team Robolution. Also I had two hackathon experience though I could not win but it helps in interview at Logic Fruit Technologies
			One is infenion campus hackathon related to IOT & Embedded and other one is Mercedes benz Digital Challenge, india</div>
		</div>

		<div class="qna-section">
		<div class="question">Question 6:How being a part of Robolution helped you in gaining an edge over other candidates?</div>
			<div class="answer">Answer: As being part of Team Robolution, it helps me to build my skills and also with the projects. For personal benefits, robolution provide variety of mentorship in different field. If you are thinking of own benefit, you will automatically benefits the team in it's development as at last we all have to works as a team by pushing others or learning their skills. Company-wise, it will provide you extra edge as you have better projects to explain in the interview. Like robolution helped me in gaining internship project at IIT kharagpur through that project I had participated in Mercedes Benz hackathon and also got a paper published. Then during my recruitment at robolution I did a project which in turn helps me in interview.
I am part of the two clubs : Team Robolution and ECE Society. Seniors from both the club/society helps me during the preparation.
</div>
		</div>
		<div class="qna-section" style="padding-bottom:20px;">
			<div class="question">Question 7:Any extra advice to your juniors for technical skills that they should develop?</div>

			<div class="answer">Answer: There are many skills one should develop based on their interest Like IOT, Computer Vision, ROS , AI/ML
etc. For core electronics company there are some subjects like analog electronics, digital electronics, microprocessor and microcontroller, Digital VLSI etc they should learn and should maintain a Cgpa of 8 or greater than that.</div>
		</div>
	</div>
</section>

</section>
 <script src=""></script>
<%- include('footer') %>