<%- include('header') %>


    <!-- Breadcrumb Section Begin -->

    <section class="breadcrumb-section set-bg" data-setbg="img/workshop/cover_1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2 class="wow bounceInUp" style="text-shadow: 0.5px 1.5px 1.5px #000000;"><strong style="color: orangered;">Workshops</strong></h2>
                        <div class="bt-option">
                            <a href="/home">Home</a>
                            <a href="/ws" style="color: orangered;">Workshops</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Class Details Section Begin -->
    <section class="class-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="class-details-text" id="gtr">
                        <div class="cd-text">
                            <div class="cd-single-item">
                                <h3>Gateway To Robotics</h3>
                                <p>Gateway to Robotics, as the name suggests, opens the door to the field of robotics as it basically focuses on the whole upshot of Robots. This workshop deals with Mechasap- dealing with mechanical aspects of a robot which is to design the structure of a bot , Electrosap- dealing with the circuitry of the bot and Prosap- dealing with the programming of the bot ie. its brain. Robotics is not limited to humanoids(as thought by many) but the aura of robotics include swarm robotics, nano robotics to simple household robots like washing machine etc. .</p>
                            </div>
                        </div>
                        <div class="cd-trainer">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="cd-trainer-pic">
                                        <img src="img/workshop/gateway.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="cd-trainer-text">
                                        <div class="trainer-title">
                                            <h4>Syllabus</h4>
                                        <ul class="trainer-info wow bounceInLeft">
                                            <li><span>ElectroSap</span></li>
                                            <li><span>MechaSap</span></li>
                                            <li><span>Introduction to Arduino</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
                <div class="class-details-text" id ="es">
                        <div class="cd-text">
                            <div class="Embedded Workshop">
                                <h3 style="color: white;">Embedded Workshop</h3>
                                <p>Microcontroller comes into play with this workshop. The workshop continues for 7 days. Embedded systems are build to solve only specific problems. This workshop was concentrated on the microcontroller AT90USB1287 which belongs to the 8 bit family of AVR Mega Microcontroller. Topics like Clock Sources, Interrupts, Timers, Motors, PWM, Serial Communication etc. Special attention was given to practical implementations. Edge detector, Line follower, Bluetooth controlled bot, Ultrasonic depth sensor etc. are demonstrated to implicate the teachings of the workshop.</p>
                            </div>
                        </div>
                        <div class="cd-trainer">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="cd-trainer-pic">
                                        <img src="img/workshop/embedded_1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="cd-trainer-text">
                                        <div class="trainer-title">
                                            <h4>Syllabus</h4>
                                        <ul class="trainer-info wow bounceInLeft">
                                            <li><span>Introduction</span></li>
                                            <li><span>Timer</span></li>
                                            <li><span>Pulse Width Modulation</span></li>
                                            <li><span>Analog To Digital Conversion</span></li>
                                            <li><span>Communication</span></li>
                                            <li><span>Proportional Integral Derivative</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
                    <div class="class-details-text" id="dip">
                        <div class="cd-text">
                            <div class="cd-single-item">
                                <h3>Image Processing</h3>
                                <p>Digital Image Processing provides the robot with its very own “eyes”. Vision is the art to see what is invisible to others. Image Processing enables us to provide our robots with more vivid sensors to learn about the environment around it and actuate accordingly. It is a 3 day workshop which starts with the introduction of MATLAB (MATrix LABoratory ) environment. In this workshop, freshmen are introduced to different types of images, different colour models such as RGB, YCbCr, HSV and YUV, and their inter conversion. Noise, the unwanted part of an image, which needs to be removed, is removed through different noise removal techniques. Various morphological operations like open, close, erode, dilation etc. are also taught. Real time detection marks the final stage of the workshop where object detection using a ball or bottle is demonstrated. </p>
                            </div>
                        </div>
                        <div class="cd-trainer">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="cd-trainer-pic">
                                        <img src="img/workshop/ocv.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="cd-trainer-text">
                                        <div class="trainer-title">
                                            <h4>Syllabus</h4>
                                        <ul class="trainer-info wow bounceInLeft">
                                            <li><span>Basic Python</span></li>
                                            <li><span>Image Thresholding</span>148lbs</li>
                                            <li><span>Image Enhancement Techniques</span></li>
                                            <li><span>Smoothing</span></li>
                                            <li><span>Edge Detection</span></li>
                                            <li><span>Hough Transform</span></li>
                                            <li><span>Contour</span></li>
                                            <li><span>Morphological Operations</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
                    <div class="class-details-text" id="ml">
                        <div class="cd-text">
                            <div class="cd-single-item">
                                <h3>Machine Learning</h3>
                                <p>Artificial Intelligence (AI), Data Science (DS), and Machine Learning (ML) are the pillars of the Fourth Industrial Revolution, or what is commonly known as Industry 4.0. AI is a branch of Computer Science that deals with the ability of a machine to closely imitate intelligent human behavior. ML is an application of AI that is based on the idea that when machines are provided new data, they can learn, grow, and develop on their own without explicit human intervention/programming. DS, on the other hand, is an umbrella term that signifies techniques used to extract useful information and insights from data.</p>
                            </div>
                        </div>
                        <div class="cd-trainer">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="cd-trainer-pic">
                                        <img src="img/workshop/ml.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="cd-trainer-text">
                                        <div class="trainer-title">
                                            <h4>Syllabus</h4>
                                        <ul class="trainer-info wow bounceInLeft">
                                            <li><span>Introduction to ML</span></li>
                                            <li><span>Data Manipulation and Visualisation using Numpy & Matplotlib</span></li>
                                            <li><span>Regression Algorithms</span></li>
                                            <li><span>Classification Algorithms</span></li>
                                            <li><span>Clustering Algorithms</span></li>
                                            <li><span></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- Class Details Section End -->

    <!-- Class Timetable Section Begin -->
    <section class="class-timetable-section class-details-timetable spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="class-details-timetable_title">
                        <h5>Workshop timetable</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="class-timetable details-timetable">
                        <table>
                            <thead>
                                <tr>
                                    <th>Sem/Ws</th>
                                    <th>Gateway To Robotics</th>
                                    <th>Embedded Workshop</th>
                                    <th>Image Processing</th>
                                    <th>Machine Learning</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="class-time">Winter Semester</td>
                                    <td class="dark-bg hover-dp ts-meta" data-tsmeta="workout">
                                        <h5>September</h5>
                                    </td>
                                    <td class="dark-bg hover-dp ts-meta" data-tsmeta="fitness">
                                        <h5>November</h5>
                                    </td>
                                    <td class="dark-bg blank-td"></td>
                                    <td class="dark-bg blank-td"></td>
                                </tr>
                                <tr>
                                    <td class="class-time">Spring Semester</td>
                                    <td class="blank-td"></td>
                                    <td class="blank-td"></td>
                                    <td class="dark-bg hover-dp ts-meta" data-tsmeta="fitness">
                                        <h5>Febrary</h5>
                                    </td>
                                    <td class="dark-bg hover-dp ts-meta" data-tsmeta="workout">
                                        <h5>March</h5>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Class Timetable Section End -->

<%- include('footer') %>